openapi: 3.0.1
info:
  description: >-
    [Customer resources](https://www.hudl.com/support/wyscout) | [Customer
    support](https://www.hudl.com/support/contact)


    [Wyscout Data resources](https://footballdata.wyscout.com/resources/)


    **IMPORTANT: Version switching planned for July 20th 2021.**


    On July 20th 2021 we will switch v3 as the Current version. V2 will become
    Legacy.


    Please see [Versioning](#section/Versioning) section for any related
    details.


    # Overview


    This is the product documentation for our API service, in which you can find

    all definitions and technical information you may need.


    # Authentication


    ## Overview


    This page explain how to authenticate to Wyscout APIs using Basic Access

    Authentication.


    ## Using your client software


    Depending on your client software you should be provided with a mechanism

    for supplying an username and password: that will build the required

    authentication headers automatically.


    For example you can specify the -u argument with curl as username:password.


    ## Supplying Basic Access Authentication headers


    It is possible to construct the authentication headers manually:


    * Build a string of the form username:password.

    * Encode the string in Base64

    * Supply an `Authorization` header with content `Basic` followed by the

    encoded string.



    For example, the string `Aladdin:OpenSesame` encodes to

    `QWxhZGRpbjpPcGVuU2VzYW1l` in base64, 


    so you would use this string `Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l`


    ## Rate limits


    To avoid services overload requests are rate limited.

    The Wyscout API currently enforces a limit of **12** request per second per
    API Key.


    If the rate limit is exceeded, the API will return the following HTTP 429
    response:


    ```json
      {
        "error": {
          "code": 429,
          "message": "Too many requests"
        }
      }
    ```


    # Data glossary and definitions


    At the following link you can find our Data Glossary that describes events,
    metrics and concepts used across the Wyscout API, Platform and reports.


    <a href="https://dataglossary.wyscout.com/" target="_blank">Wyscout Data
    Glossary</a>



    ## Pitch coordinates


    ![Pitch map](assets/images/WyscoutDataCoordinates.png)


    The event's coordinates depends on the subject. The subject's goal to be
    defended is always **x=0%**

    and the attack is always **x=100%**.

    All values are % expressed as **(x,y)**.


    # Versioning


    Wyscout gives you the chance to choose between three different sets of API
    endpoints.


    ## Current

    The latest available version.

    It includes the most recent endpoints and improvements.


    ## Preview

    The beta version of our next official release.

    Here we start to implement future improvements and new endpoints.


    ## Legacy

    The old version.

    This is still available and running, in order to let users adapt their tools
    to new ones.


    ## Version Switch


    Wyscout will constantly improve its dataset by adding new endpoints and
    improving the existing ones. “Preview” version is where you can find last
    delivered updates.

    When a new and improved “Current” version is released, the previous version
    becomes “Legacy” – which means it will not immediately cease to exist,
    giving you the time to adapt your systems.

    It will be available and running until another new version – “Current” – is
    released, at least six months after the previous one.


    ![Version Switch](assets/images/WyscoutVersionSwitch.png)


    Documentation on [apidocs.wyscout.com](apidocs.wyscout.com) will always be
    available also for “Legacy” version.

    Each version will receive support as from the following table:


    ![Version Support](assets/images/WyscoutVersionSupport.png)
  termsOfService: 'https://footballdata.wyscout.com/terms-and-conditions/'
  title: Wyscout API (v3)
  version: '2024-03-12T16:46:19Z'
  x-logo:
    altText: Wyscout logo
    href: /
    url: assets/images/wyscout_data.png
servers:
  - url: 'https://apirest.wyscout.com/v3'
paths:
  /areas:
    get:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Areas'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Areas
      description: >-
        Returns a list of areas. For area codes we use the ISO 3166-1 standard
        and the following additional custom areas codes:
        <table><thead><tr><th>name</th><th>id</th><th>alpha2code</th><th>alpha3code</th></tr></thead><tbody><tr><td>Asia</td><td
        >1</td><td>AS</td><td>XAS</td></tr><tr><td>Africa</td><td
        >2</td><td>AF</td><td>XAF</td></tr><tr><td>N/C America</td><td
        >3</td><td>NC</td><td>XNC</td></tr><tr><td>South America</td><td
        >4</td><td>SA</td><td>XSA</td></tr><tr><td>Oceania</td><td
        >5</td><td>OC</td><td>XOC</td></tr><tr><td>Europe</td><td
        >6</td><td>EU</td><td>XEU</td></tr><tr><td>Chinese Taipei</td><td
        >49</td><td>CT</td><td>XCT</td></tr><tr><td>England</td><td
        >67</td><td>EN</td><td>XEN</td></tr><tr><td>Northern Ireland</td><td
        >144</td><td>NI</td><td>XNI</td></tr><tr><td>Scotland</td><td
        >164</td><td>SC</td><td>XSC</td></tr><tr><td>Tahiti</td><td
        >187</td><td>TA</td><td>XTA</td></tr><tr><td>Wales</td><td
        >208</td><td>WA</td><td>XWA</td></tr><tr><td>Zanzibar</td><td
        >212</td><td>ZA</td><td>XZA</td></tr><tr><td>Timor-Leste</td><td
        >213</td><td>LS</td><td>XLS</td></tr><tr><td>Kosovo</td><td
        >228</td><td>KS</td><td>XKS</td></tr><tr><td>France,
        metropolitan</td><td
        >298</td><td>FX</td><td>XFX</td></tr><tr><td>Netherlands
        antilles</td><td
        >305</td><td>AN</td><td>XAN</td></tr><tr><td>World</td><td
        >320</td><td>WO</td><td>XWO</td></tr></tbody></table>
      summary: Areas
    options:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
      description: Returns a list of areas
      summary: Areas
  '/coaches/{wyId}':
    get:
      parameters:
        - description: >-
            List of related objects to be detailed, separated by comma:
            `currentTeam`
          in: query
          name: details
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coach'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Coaches
      description: Returns info about the given coach
      summary: Coach
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  /competitions:
    get:
      parameters:
        - description: Area three-letters code
          in: query
          name: areaId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competitions'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns a list of competitions for a given area
      summary: Competitions list
    options:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/competitions/{wyId}':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competition'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns info about the given competition
      summary: Competition detail
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/competitions/{wyId}/matches':
    get:
      parameters:
        - description: Competition wyId
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionMatches'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns the list of matches of the given competition
      summary: Matches list
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/competitions/{wyId}/players':
    get:
      parameters:
        - description: Alias for limit argument
          in: query
          name: count
          schema:
            type: string
        - description: >-
            Allows to change the number of results for page (limited to max 100
            results for single page)
          in: query
          name: limit
          schema:
            type: string
        - description: Allows to sort resultset by given field and directions
          in: query
          name: sort
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
        - description: Competition wyId
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            Allows to change page (current page) from which the results are
            fetched
          in: query
          name: page
          schema:
            type: string
        - description: >-
            Allows to simple search and filter resultset by OR condition among
            defined search fields
          in: query
          name: search
          schema:
            type: string
        - in: query
          name: details
          schema:
            type: string
        - description: >-
            Allows to simple filter resultset by AND and EQUAL condition on
            given field
          in: query
          name: filter
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionPlayers'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns the list of players of the given competition
      summary: Players list
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/competitions/{wyId}/seasons':
    get:
      parameters:
        - description: Competition wyId
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - description: Flag to retrieve only active objects
          in: query
          name: active
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionSeasons'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Length:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns the list of seasons of the given competition
      summary: Seasons list
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/competitions/{wyId}/teams':
    get:
      parameters:
        - description: Competition wyId
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionTeams'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Competitions
      description: Returns the list of teams of the given competition
      summary: Teams list
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/matches/{wyId}':
    get:
      parameters:
        - description: Flag to change label (teamId –> home or teamId –> away)
          in: query
          name: useSides
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma:
            `coaches`, `players`, `teams`, `competition`, `round`, `season`
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Matches
      description: Returns info about the given match
      summary: Match detail
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/matches/{wyId}/advancedstats':
    get:
      parameters:
        - description: Flag to change label (<teamId> –> home or <teamId> –> away)
          in: query
          name: useSides
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma: `teams`,
            `match`
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchAdvancedStats'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Advanced Stats
      description: Returns advanced statistics of a given match
      summary: Match Advanced Stats
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/matches/{wyId}/advancedstats/players':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`, `season`, `round`, `match`
          in: query
          name: fetch
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `player`'
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchPlayersAdvancedStats'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Advanced Stats
      description: Returns advanced statistics of all players in a specific match
      summary: All players Match Advanced Stats
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/matches/{wyId}/events':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma: `teams`,
            `players`, `match`, `coaches`, `referees`, `formations`,
            `substitutions`
          in: query
          name: fetch
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `tag`'
          in: query
          name: details
          schema:
            type: string
        - description: >-
            List of objects to exclude from API output, separated by comma:
            `possessions`, `names`, `positions`, `formations`
          in: query
          name: exclude
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchEvents'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Events
      description: Retrieves information about a given match's events
      summary: MatchEvents
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/matches/{wyId}/formations':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma: `teams`,
            `players`
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchFormations'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Matches
      description: Retrieves information about a given match's formations
      summary: MatchFormations
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}':
    get:
      parameters:
        - description: >-
            List of related objects to be detailed, separated by comma:
            `currentTeam`
          in: query
          name: details
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player
      summary: Player details
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/advancedstats':
    get:
      parameters:
        - description: Relevant round id
          in: query
          name: roundId
          schema:
            type: string
        - description: Competition wyId
          in: query
          name: compId
          required: true
          schema:
            type: string
        - description: 'If present, only match data for a single day are returned'
          in: query
          name: matchDay
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
        - description: Relevant season id
          in: query
          name: seasonId
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`, `season`, `round`
          in: query
          name: fetch
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `player`'
          in: query
          name: details
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerAdvancedStats'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Advanced Stats
      description: >-
        Returns advanced statistics of a given player in a specific competition
        season. Overall, the statistics provided are relative to the selected
        season, and not to a specific team. By default the season is set to the
        current one
      summary: Player Advanced Stats
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/career':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `player`'
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma: `team`,
            `competition`, `season`
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCareer'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player career
      summary: Players career
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/contractinfo':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `player`'
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerContractinfo'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player contract
      summary: Players contract info
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/fixtures':
    get:
      parameters:
        - description: Ending date in YYYY-MM-DD format
          in: query
          name: toDate
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: Starting date in YYYY-MM-DD format
          in: query
          name: fromDate
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerFixtures'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player matches fixtures
      summary: Players fixtures
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/matches':
    get:
      parameters:
        - description: Relevant season id
          in: query
          name: seasonId
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `player`'
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerMatches'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player matches
      summary: Players matches
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/matches/{matchWyId}':
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: path
          name: matchWyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/matches/{matchWyId}/advancedstats':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`, `season`, `round`, `match`
          in: query
          name: fetch
          schema:
            type: string
        - description: Relevant match id
          in: path
          name: matchWyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `player`'
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerMatchAdvancedStats'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Advanced Stats
      description: Returns advanced statistics of a given player in a specific match
      summary: Players match advanced stats
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: path
          name: matchWyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/players/{wyId}/transfers':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `player`'
          in: query
          name: fetch
          schema:
            type: string
        - in: query
          name: alternative
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `teams`'
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTransfer'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Players
      description: Returns info about the given player transfers
      summary: Players transfers
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/referees/{wyId}':
    get:
      parameters:
        - description: If true adds the base64 encoded referee image to the payload
          in: query
          name: imageDataURL
          schema:
            type: string
        - in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Referee'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Referees
      description: Returns info about the given referee
      summary: Referee details
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/rounds/{wyId}':
    get:
      parameters:
        - description: >-
            List of related objects to be detailed, separated by comma:
            `competition`, `season`
          in: query
          name: details
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Round'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Rounds
      description: Returns info about the given round
      summary: Rounds
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  /search:
    get:
      parameters:
        - description: The string to be matched with the resource's name
          in: query
          name: query
          required: true
          schema:
            type: string
        - description: >-
            Object to be retrieved (only the first type is considered): `men`,
            `women`
          in: query
          name: gender
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
        - description: >-
            Object to be retrieved (only the first type is considered):
            `competition`, `team`, `player`, `referee`
          in: query
          name: objType
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Search
      description: 'Returns a list of objects, matching the provided search string'
      summary: Search
    options:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}':
    get:
      parameters:
        - description: >-
            List of related objects to be detailed, separated by comma:
            `competition`
          in: query
          name: details
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns info about the given season
      summary: Season details
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/assistmen':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma: `season`,
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma:
            `players`, `teams`
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonAssistmen'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns info about the given season assistmen
      summary: Season assistmen
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/career':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`, `season`
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma: `team`,
            `round`
          in: query
          name: details
          schema:
            type: string
        - description: >-
            <table><thead><tr><th>Object</th><th>Description</th></tr></thead><tbody><tr><td>gameWeek</td><td>If
            present, it returns standings for that
            gameweek</td></tr><tr><td>gameWeekInterval</td><td>If present, it
            returns standings for that gameweeks’ range Use:
            {"gameWeekInterval":{"startWeek":7,"endWeek":12}}</td></tr></tbody></table>
          in: query
          name: filters
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonCareer'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: >-
        Returns general performance information about all the teams for the
        given season
      summary: Seasons career
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/fixtures':
    get:
      parameters:
        - description: Ending date in YYYY-MM-DD format
          in: query
          name: toDate
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `season`'
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma:
            `matches`, `players`, `teams`
          in: query
          name: details
          schema:
            type: string
        - description: Starting date in YYYY-MM-DD format
          in: query
          name: fromDate
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonFixtures'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Retrieves all the matches for the given season
      summary: Seasons fixtures
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/matches':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `season`'
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonMatches'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns the list of matches played in the given season
      summary: Seasons matches
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/players':
    get:
      parameters:
        - description: Alias for limit argument
          in: query
          name: count
          schema:
            type: string
        - description: >-
            Allows to change the number of results for page (limited to max 100
            results for single page)
          in: query
          name: limit
          schema:
            type: string
        - description: Allows to sort resultset by given field and directions
          in: query
          name: sort
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `season`'
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            Allows to change page (current page) from which the results are
            fetched
          in: query
          name: page
          schema:
            type: string
        - description: >-
            Allows to simple search and filter resultset by OR condition among
            defined search fields
          in: query
          name: search
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma:
            `currentTeam`
          in: query
          name: details
          schema:
            type: string
        - description: >-
            Allows to simple filter resultset by AND and EQUAL condition on
            given field
          in: query
          name: filter
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonPlayers'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns the list of players who have played in the given season
      summary: Seasons players
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/scorers':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma: `season`,
            `competition`
          in: query
          name: fetch
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma:
            `players`, `teams`
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonScorers'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns info about the given season scorers
      summary: Season scorers
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/standings':
    get:
      parameters:
        - description: Relevant round id
          in: query
          name: roundId
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be fetched, separated by comma:
            `competition`, `season`
          in: query
          name: fetch
          schema:
            type: string
        - description: 'List of related objects to be detailed, separated by comma: `teams`'
          in: query
          name: details
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonStandings'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Returns the standings for the given season
      summary: Seasons standings
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/teams':
    get:
      parameters:
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: 'List of related objects to be fetched, separated by comma: `season`'
          in: query
          name: fetch
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonTeams'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: >-
        Returns the list of teams in the given season. Please note: the call
        returns only the teams that already played at least one match in the
        season.
      summary: Seasons teams
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/seasons/{wyId}/transfers':
    get:
      parameters:
        - description: Ending date in YYYY-MM-DD format
          in: query
          name: toDate
          schema:
            type: string
        - description: Relevant content id
          in: path
          name: wyId
          required: true
          schema:
            type: string
        - description: >-
            List of related objects to be detailed, separated by comma: `teams`,
            `player`
          in: query
          name: details
          schema:
            type: string
        - description: Starting date in YYYY-MM-DD format
          in: query
          name: fromDate
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonTransfers'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode500'
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
      tags:
        - Seasons
      description: Retrieves all the transfer's information for the given season
      summary: Seasons transfers
    options:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/teams/{wyId}':
    get:
      parameters:
        - in: path
          name: wyId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode400'
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode429'
          description: 429 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          content:
            application/json:
              schema:
[...]
