{
  "openapi": "3.0.2",
  "info": {
    "description": "# Overview\n\nWe've included as much technical information about the FMDB Pro API as we can. \n If you have any questions though, please contact us.\n\n## API Authentication\n\nAll API Requests are authenticated by an API Key.\n\nTo do this, each HTTP request must include a parameter named `x-api-key` in the `HEADER` of any request which includes the API Key string.\n\nTo receive an API Key, please contact the FMDB Pro team.\n\n## API Versions\n\nFor all data requests, you can set a version by adding a parameter named `x-api-version` in the `HEADER` of any request.\n\nOmitting this from the header will return the latest version.\n\n# Data Requests\n\nThe FMDB Pro API provides a robust and flexible query mechanism that allows you to filter, sort, and paginate the data returned.\n\n## Pagination\n\nRequests can be paginated by either pages or using continuation tokens using a combination of the following;\n\n| Parameter | Default | Description | Example |\n|----------|----------|----------|----------|\n|`pageSize` | `20` | Specifies the number of records to return per request. Max 500. | `GET /api/<endpoint>?pageSize=10` |\n|`page` | `1` | Specifies which number page of data to return. This parameter cannot be used in conjunction with `continuation` and `continuationToken` parameters. | `GET /api/<endpoint>?page=2` |\n| or |\n|`continuation` | `false` | This parameter activates the \"pagination by cursor\" functionality, that has better performance when retrieving larger datasets. When set to `true` the meta object in the response will contain a `continuationToken` that can be used to retrieve the next page at a significantly faster speed. If the `continuationToken` field is `null` it means that there's no more pages to fetch. | `GET /api/<endpoint>?continuation=true` |\n|`continuationToken` | `null` | Specifies the token to retrieve the next page of a continuous call. This parameter must be used with `continuation=true` and cannot be used in conjunction with `page`. | `GET /api/<endpoint>?continuation=true&continuationToken=XXXXXXXXXXXXXXXXXXXX` |\n\nIt is recommended that you use `continuation` and `continuationToken` for larger API requests.\n\nTechnical Note: The continuation tokens do not work with the `pageSize` parameter. It will return an optimal amount of data per request depending on the dataset queried. e.g. The larger `players` endpoint dataset will return fewer results than the `clubs` endpoint due to the amount of data in each response but will be at a reliable and stable response time.\n\n## Sorting\n\nRequests can be sorted on single or multiple fields by using comma seperated field names. e.g. `?sortOrder=name,age&sortBy=ASC,DESC` would sort by `name` ascending and then `age` descending.\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`sortBy` | Which field to sort the data on. Can have multiple comma seperated values. | `GET /api/<endpoint>?sortBy=name` |\n|`sortOrder` | Sort order direction. Can have multiple comma seperated values. Defaults to `ASC` | `GET /api/<endpoint>?sortBy=name&sortOrder=DESC` |\n\n\n\nNote: Sorting cannot be used with `continuation` and `continuationToken`.\n\n## Shaping\n\nYou can shape the response by optionally including or excluding fields and objects.\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`includeFields` | Include only these fields in the response. The usage is limited to the first-level fields of the object requested; it is not possible to reshape nested objects. The parameter accepts a comma separated list of fields. | `GET /api/<endpoint>?includeFields=id,name,age` |\n|`excludeFields` | Exclude these fields from the response. The usage is limited to the first-level fields of the object requested; it is not possible to reshape nested objects. The parameter accepts a comma separated list of fields. | `GET /api/<endpoint>?excludeFields=nationality,secondNationality` |\n\n\n\n## Filters\n\nAll fields can be searched by their name for an exact match;\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`<field>` | Filters the data based on whether the field's value matches the specified value. | `GET /api/<endpoint>?name=John` |\n\nYou can also search for `null` values using:\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`<field>Null` | Filters the data based on whether the field's value is NULL. | `GET /api/<endpoint>?nameNull=true` |\n\nEvery filter condition can be negated with the `Not` keyword. i.e. `<field>Not` and `<field>NotNull`\n\nExample: `GET /api/<endpoint>?nameNotIn=John,Mike&country.nameNot=Italy&ageNotBetween=20|30`\n\n\n\n### String Filters\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`<field>In` | Filters the data based on whether the field's value is in a list of specified values. This filter is case sensitive. | `GET /api/<endpoint>?nameIn=John,Charlie` |\n|`<field>StartsWith` | Filters the data based on whether the field's value begin with a specified value. This filter is case insensitive. | `GET /api/<endpoint>?nameStartsWith=Joh` |\n|`<field>EndsWith` | Filters the data based on whether the field's value ends with a specified value. This filter is case insensitive | `GET /api/<endpoint>?nameEndsWith=ohn` |\n|`<field>Regex` | Filters the data based on whether the field's value matches a custom PERL Regular Expression. | `GET /api/<endpoint>?nameRegex=/m{1,4}uel/i` |\n|`<field>Contains` | Filters the data based on whether the field's value contains a specified substring. This filter is case insensitive. | `GET /api/<endpoint>?nameContains=harli` |\n\n\n\n### Numeric and Date Filters\n\n| Parameter | Description | Example |\n|----------|----------|----------|\n|`<field>MinorThan` | Filters the data based on whether the field's value is less/fewer than the specified value. (Alias of `<field>Before`.) | `GET /api/<endpoint>?ageMinorThan=30` |\n|`<field>MinorEqualThan` | Filters the data based on whether the field's value is less/fewer than or equal to the specified value (Alias of `<field>BeforeIncluded`.) | `GET /api/<endpoint>?ageMinorEqualThan=30` |\n|`<field>MajorThan` | Filters the data based on whether the field's value is greater than the specified value. (Alias of `<field>After`.) | `GET /api/<endpoint>?ageMajorThan=20` |\n|`<field>MajorEqualThan` | Filters the data based on whether the field's value is greater than or equal to the specified value. (Alias of `<field>AfterIncluded`.) | `GET /api/<endpoint>?ageMajorEqualThan=20` |\n|`<field>Between` | Filters the data based on whether the field's value is between two specified values, extremes not included. | <code>GET /api/<endpoint>?ageBetween=20&#124;30</code> |\n|`<field>BetweenIncluded` | Filters the data based on whether the field's value is between two specified values, extremes included. | <code>GET /api/<endpoint>?ageBetweenIncluded=20&#124;30</code> |\n\n",
    "title": "FMDB Pro API",
    "contact": {
      "name": "FMDB Product Owner",
      "email": "contact@fmdb.pro"
    },
    "x-apisguru-categories": [
      "sport",
      "football",
      "statistics"
    ],
    "x-logo": {
      "url": "https://app.fmdb.pro/images/logo.png",
      "altText": "FMDB Pro",
      "href": "https://app.fmdb.pro/",
      "backgroundColor": "#090f1d"
    },
    "x-unofficialSpec": false,
    "x-docVersion": "simple",
    "x-providerName": "https://api.fmdb.pro",
    "version": "latest"
  },
  "tags": [
    {
      "name": "Data",
      "description": ""
    },
    {
      "name": "Utilities",
      "description": ""
    }
  ],
  "x-tagGroups": [],
  "servers": [
    {
      "url": "https://api.fmdb.pro"
    }
  ],
  "paths": {
    "/api/clubs": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of clubs",
        "operationId": "getClubs",
        "summary": "Clubs",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Clubs"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByClubs"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsClubs"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsClubs"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryFaId"
          },
          {
            "$ref": "#/components/parameters/QueryName"
          },
          {
            "$ref": "#/components/parameters/QueryNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNameSixLetter"
          },
          {
            "$ref": "#/components/parameters/QueryOfficialName"
          },
          {
            "$ref": "#/components/parameters/QueryOfficialNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNicknameFirst"
          },
          {
            "$ref": "#/components/parameters/QueryNicknameSecond"
          },
          {
            "$ref": "#/components/parameters/QueryOfficialThreeLetterName"
          },
          {
            "$ref": "#/components/parameters/QueryAlternativeThreeLetterName"
          },
          {
            "$ref": "#/components/parameters/QueryOfficialHashtag"
          },
          {
            "$ref": "#/components/parameters/QueryExtinct"
          },
          {
            "$ref": "#/components/parameters/QueryCity"
          },
          {
            "$ref": "#/components/parameters/QueryLastCompetitionPosition"
          },
          {
            "$ref": "#/components/parameters/QueryMediaPrediction"
          },
          {
            "$ref": "#/components/parameters/QueryYearFounded"
          },
          {
            "$ref": "#/components/parameters/QueryProfessionalStatus"
          },
          {
            "$ref": "#/components/parameters/QueryMorale"
          },
          {
            "$ref": "#/components/parameters/QueryReputation"
          },
          {
            "$ref": "#/components/parameters/QueryPotentialReputation"
          },
          {
            "$ref": "#/components/parameters/QueryNoUefaLicence"
          },
          {
            "$ref": "#/components/parameters/QueryNoReserveFixtures"
          },
          {
            "$ref": "#/components/parameters/QueryNoYouthFixtures"
          },
          {
            "$ref": "#/components/parameters/QueryAlwaysUsesSquadNumbers"
          },
          {
            "$ref": "#/components/parameters/QueryStarPlayerMax"
          },
          {
            "$ref": "#/components/parameters/QueryStarPlayerMin"
          },
          {
            "$ref": "#/components/parameters/QueryFirstTeamPlayerMax"
          },
          {
            "$ref": "#/components/parameters/QueryFirstTeamPlayerMin"
          },
          {
            "$ref": "#/components/parameters/QueryCa16"
          },
          {
            "$ref": "#/components/parameters/QueryMinPlayerAge"
          },
          {
            "$ref": "#/components/parameters/QueryMaxPlayerAge"
          },
          {
            "$ref": "#/components/parameters/QueryClubMembersCount"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerCount"
          },
          {
            "$ref": "#/components/parameters/QueryBackroomStaffCount"
          },
          {
            "$ref": "#/components/parameters/QueryOwnershipType"
          },
          {
            "$ref": "#/components/parameters/QueryChairmanTitle"
          },
          {
            "$ref": "#/components/parameters/QueryExtraDp"
          },
          {
            "$ref": "#/components/parameters/QueryGenericLogoId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryFootballingNationId"
          },
          {
            "$ref": "#/components/parameters/QueryFootballingNationName"
          },
          {
            "$ref": "#/components/parameters/QueryContinentalCupNationId"
          },
          {
            "$ref": "#/components/parameters/QueryContinentalCupNationName"
          },
          {
            "$ref": "#/components/parameters/QueryCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryLastCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryLastCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryCaptainId"
          },
          {
            "$ref": "#/components/parameters/QueryCaptainName"
          },
          {
            "$ref": "#/components/parameters/QueryViceCaptainId"
          },
          {
            "$ref": "#/components/parameters/QueryViceCaptainName"
          },
          {
            "$ref": "#/components/parameters/QueryStadiumAttendanceAverage"
          },
          {
            "$ref": "#/components/parameters/QueryStadiumAttendanceMax"
          },
          {
            "$ref": "#/components/parameters/QueryStadiumAttendanceMin"
          },
          {
            "$ref": "#/components/parameters/QueryTrainingFacilitiesDescription"
          },
          {
            "$ref": "#/components/parameters/QueryYouthYouthFacilities"
          },
          {
            "$ref": "#/components/parameters/QueryYouthYouthFacilitiesDescription"
          },
          {
            "$ref": "#/components/parameters/QueryYouthYouthCoaching"
          },
          {
            "$ref": "#/components/parameters/QueryYouthYouthRecruitment"
          },
          {
            "$ref": "#/components/parameters/QueryYouthYouthImportance"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentKitShirtBgColor"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentKitShirtFgColor"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentKitShirtTrimColor"
          }
        ]
      }
    },
    "/api/clubsCompetitions": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of Club Competitions",
        "operationId": "getClubsCompetitions",
        "summary": "Clubs Competitions",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClubsCompetitions"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByClubsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsClubsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsClubsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryName"
          },
          {
            "$ref": "#/components/parameters/QueryNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNameThreeLetter"
          },
          {
            "$ref": "#/components/parameters/QueryTier"
          },
          {
            "$ref": "#/components/parameters/QueryGbeBand"
          },
          {
            "$ref": "#/components/parameters/QueryReputation"
          },
          {
            "$ref": "#/components/parameters/QueryType"
          },
          {
            "$ref": "#/components/parameters/QueryForegroundColour"
          },
          {
            "$ref": "#/components/parameters/QueryBackgroundColour"
          },
          {
            "$ref": "#/components/parameters/QueryTrimColour"
          },
          {
            "$ref": "#/components/parameters/QuerySeasonType"
          },
          {
            "$ref": "#/components/parameters/QueryExtinct"
          },
          {
            "$ref": "#/components/parameters/QueryUseSquadNumbers"
          },
          {
            "$ref": "#/components/parameters/QueryTeamsThisSeason"
          },
          {
            "$ref": "#/components/parameters/QueryTeamsNextSeason"
          },
          {
            "$ref": "#/components/parameters/QueryMinAge"
          },
          {
            "$ref": "#/components/parameters/QueryMaxAge"
          },
          {
            "$ref": "#/components/parameters/QueryIsAmateur"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingQualificationRequired"
          },
          {
            "$ref": "#/components/parameters/QueryLowestOfficialCategory"
          },
          {
            "$ref": "#/components/parameters/QueryRealName"
          },
          {
            "$ref": "#/components/parameters/QueryRealNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryContinentId"
          },
          {
            "$ref": "#/components/parameters/QueryContinentName"
          },
          {
            "$ref": "#/components/parameters/QueryNationId"
          },
          {
            "$ref": "#/components/parameters/QueryNationName"
          },
          {
            "$ref": "#/components/parameters/QueryParentClubCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryParentClubCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryRegisteredClubs"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerCount"
          },
          {
            "$ref": "#/components/parameters/QueryBackroomStaffCount"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchLength"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchWidth"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchSizeType"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchLength"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchWidth"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchSizeType"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechUsed"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechTvOnly"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechStage"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechSubStage"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechDateFrom"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarUseType"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarTvOnly"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarStage"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarSubStage"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarDateFrom"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesStartDate"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesEndDate"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesMaxGames"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesWinterStartDate"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesWinterEndDate"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesSummerStartDate"
          },
          {
            "$ref": "#/components/parameters/QueryDatesAndGamesSummerEndDate"
          }
        ]
      }
    },
    "/api/continents": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of continents",
        "operationId": "getContinents",
        "summary": "Continents",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Continents"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByContinents"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsContinents"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsContinents"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryNameContinents"
          },
          {
            "$ref": "#/components/parameters/QueryThreeLetterName"
          },
          {
            "$ref": "#/components/parameters/QueryAdjective"
          },
          {
            "$ref": "#/components/parameters/QueryFederationName"
          },
          {
            "$ref": "#/components/parameters/QueryFederationNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryRegionalStrength"
          },
          {
            "$ref": "#/components/parameters/QueryPrimaryColour"
          },
          {
            "$ref": "#/components/parameters/QuerySecondaryColour"
          },
          {
            "$ref": "#/components/parameters/QueryTrimColour"
          }
        ]
      }
    },
    "/api/countries": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of countries",
        "operationId": "getCountries",
        "summary": "Countries",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Countries"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByCountries"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsCountries"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsCountries"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryNameCountries"
          },
          {
            "$ref": "#/components/parameters/QueryNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNameThreeLetterCountries"
          },
          {
            "$ref": "#/components/parameters/QueryAdjective"
          },
          {
            "$ref": "#/components/parameters/QueryPopulation"
          },
          {
            "$ref": "#/components/parameters/QueryContinentNameCountries"
          }
        ]
      }
    },
    "/api/coverage": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "description": "Get coverage information",
        "operationId": "getCoverage",
        "summary": "Coverage",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Coverage"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByCoverage"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsCoverage"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsCoverage"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryNationId"
          },
          {
            "$ref": "#/components/parameters/QueryNationName"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          }
        ]
      }
    },
    "/api/formations": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of formations",
        "operationId": "getFormations",
        "summary": "Formations",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Formations"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByFormations"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsFormations"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsFormations"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryNameFormations"
          },
          {
            "$ref": "#/components/parameters/QueryUseForPreferred"
          },
          {
            "$ref": "#/components/parameters/QueryUseForSecondPreferred"
          },
          {
            "$ref": "#/components/parameters/QueryUseForDefPreferred"
          },
          {
            "$ref": "#/components/parameters/QueryUseForAttPreferred"
          },
          {
            "$ref": "#/components/parameters/QueryObsolete"
          },
          {
            "$ref": "#/components/parameters/QueryInPossession"
          },
          {
            "$ref": "#/components/parameters/QueryOutOfPossession"
          },
          {
            "$ref": "#/components/parameters/QueryDr"
          },
          {
            "$ref": "#/components/parameters/QueryDcr"
          },
          {
            "$ref": "#/components/parameters/QueryDc"
          },
          {
            "$ref": "#/components/parameters/QueryDcl"
          },
          {
            "$ref": "#/components/parameters/QueryDl"
          },
          {
            "$ref": "#/components/parameters/QueryWbr"
          },
          {
            "$ref": "#/components/parameters/QueryDmcr"
          },
          {
            "$ref": "#/components/parameters/QueryDmc"
          },
          {
            "$ref": "#/components/parameters/QueryDmcl"
          },
          {
            "$ref": "#/components/parameters/QueryWbl"
          },
          {
            "$ref": "#/components/parameters/QueryMr"
          },
          {
            "$ref": "#/components/parameters/QueryMcr"
          },
          {
            "$ref": "#/components/parameters/QueryMc"
          },
          {
            "$ref": "#/components/parameters/QueryMcl"
          },
          {
            "$ref": "#/components/parameters/QueryMl"
          },
          {
            "$ref": "#/components/parameters/QueryAmr"
          },
          {
            "$ref": "#/components/parameters/QueryAmcr"
          },
          {
            "$ref": "#/components/parameters/QueryAmc"
          },
          {
            "$ref": "#/components/parameters/QueryAmcl"
          },
          {
            "$ref": "#/components/parameters/QueryAml"
          },
          {
            "$ref": "#/components/parameters/QueryScr"
          },
          {
            "$ref": "#/components/parameters/QuerySc"
          },
          {
            "$ref": "#/components/parameters/QueryScl"
          }
        ]
      }
    },
    "/api/historicalValues": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of historical values of players",
        "operationId": "getHistoricalValues",
        "summary": "Historical Values",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HistoricalValues"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByHistoricalValues"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsHistoricalValues"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsHistoricalValues"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryType"
          },
          {
            "$ref": "#/components/parameters/QueryTypeId"
          },
          {
            "$ref": "#/components/parameters/QueryDateOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryLastChange"
          }
        ]
      }
    },
    "/api/kit/{encryptedKey}.svg": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "description": "Returns a kit svg based on a unique hash from the kits node in either Club or Nation",
        "operationId": "getKit",
        "summary": "Kit",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/KitResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/PathEncryptedKey"
          }
        ]
      }
    },
    "/api/nationPlayerAppearances": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of player appearances for the nation in the last 12 months",
        "operationId": "getNationPlayerAppearances",
        "summary": "Nation Player Appearances",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NationPlayerAppearances"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByNationPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsNationPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsNationPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryNationIdNationPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryNameNationPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryFromDate"
          },
          {
            "$ref": "#/components/parameters/QueryToDate"
          }
        ]
      }
    },
    "/api/nations": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of nations",
        "operationId": "getNations",
        "summary": "Nations",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nations"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByNations"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsNations"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsNations"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryName"
          },
          {
            "$ref": "#/components/parameters/QueryNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNameThreeLetterNations"
          },
          {
            "$ref": "#/components/parameters/QueryInternationalCode"
          },
          {
            "$ref": "#/components/parameters/QueryNationalTeamNickName"
          },
          {
            "$ref": "#/components/parameters/QueryExtinct"
          },
          {
            "$ref": "#/components/parameters/QueryWorldRegion"
          },
          {
            "$ref": "#/components/parameters/QueryFootballingRegion"
          },
          {
            "$ref": "#/components/parameters/QueryGameImportance"
          },
          {
            "$ref": "#/components/parameters/QueryLeagueStandard"
          },
          {
            "$ref": "#/components/parameters/QueryReputation"
          },
          {
            "$ref": "#/components/parameters/QueryYouthRating"
          },
          {
            "$ref": "#/components/parameters/QueryMaxYouthAge"
          },
          {
            "$ref": "#/components/parameters/QueryFifaCoefficient"
          },
          {
            "$ref": "#/components/parameters/QueryFifaFullMember"
          },
          {
            "$ref": "#/components/parameters/QueryYearFifaAffiliated"
          },
          {
            "$ref": "#/components/parameters/QueryYearFederationAffiliated"
          },
          {
            "$ref": "#/components/parameters/QueryYearFaFounded"
          },
          {
            "$ref": "#/components/parameters/QuerySeasonTypeId"
          },
          {
            "$ref": "#/components/parameters/QueryAllowsMultipleAssistantManagers"
          },
          {
            "$ref": "#/components/parameters/QueryForeignManagerLikelihood"
          },
          {
            "$ref": "#/components/parameters/QueryAttendance"
          },
          {
            "$ref": "#/components/parameters/QueryMinAttendance"
          },
          {
            "$ref": "#/components/parameters/QueryMaxAttendance"
          },
          {
            "$ref": "#/components/parameters/QueryFaFinancialPower"
          },
          {
            "$ref": "#/components/parameters/QueryInactive"
          },
          {
            "$ref": "#/components/parameters/QueryFootballingContinentId"
          },
          {
            "$ref": "#/components/parameters/QueryFootballingContinentName"
          },
          {
            "$ref": "#/components/parameters/QueryContinentId"
          },
          {
            "$ref": "#/components/parameters/QueryContinentName"
          },
          {
            "$ref": "#/components/parameters/QueryCaptainId"
          },
          {
            "$ref": "#/components/parameters/QueryCaptainName"
          },
          {
            "$ref": "#/components/parameters/QueryViceCaptainId"
          },
          {
            "$ref": "#/components/parameters/QueryViceCaptainName"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryNationalTeamStadiumId"
          },
          {
            "$ref": "#/components/parameters/QueryNationalTeamStadiumName"
          },
          {
            "$ref": "#/components/parameters/QuerySiblingNationId"
          },
          {
            "$ref": "#/components/parameters/QuerySiblingNationName"
          },
          {
            "$ref": "#/components/parameters/QueryFifaRankPosition"
          },
          {
            "$ref": "#/components/parameters/QueryFifaRankPoints"
          }
        ]
      }
    },
    "/api/nationsCompetitions": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of national competitions",
        "operationId": "getNationsCompetitions",
        "summary": "Nations Competitions",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NationsCompetitions"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByNationsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsNationsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsNationsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryGameType"
          },
          {
            "$ref": "#/components/parameters/QueryName"
          },
          {
            "$ref": "#/components/parameters/QueryNameShort"
          },
          {
            "$ref": "#/components/parameters/QueryNameThreeLetterNationsCompetitions"
          },
          {
            "$ref": "#/components/parameters/QueryType"
          },
          {
            "$ref": "#/components/parameters/QueryForegroundColour"
          },
          {
            "$ref": "#/components/parameters/QueryBackgroundColour"
          },
          {
            "$ref": "#/components/parameters/QueryTrimColour"
          },
          {
            "$ref": "#/components/parameters/QueryReputation"
          },
          {
            "$ref": "#/components/parameters/QueryExtinct"
          },
          {
            "$ref": "#/components/parameters/QueryVarUseType"
          },
          {
            "$ref": "#/components/parameters/QueryMinAge"
          },
          {
            "$ref": "#/components/parameters/QueryMaxAge"
          },
          {
            "$ref": "#/components/parameters/QueryIsAmateur"
          },
          {
            "$ref": "#/components/parameters/QueryUsesExtraOfficials"
          },
          {
            "$ref": "#/components/parameters/QueryIsAllSeater"
          },
          {
            "$ref": "#/components/parameters/QueryLowestOfficialCategory"
          },
          {
            "$ref": "#/components/parameters/QueryContinentId"
          },
          {
            "$ref": "#/components/parameters/QueryContinentName"
          },
          {
            "$ref": "#/components/parameters/QueryHostCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryHostCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchLength"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchWidth"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMinPitchUnit"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchLength"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchWidth"
          },
          {
            "$ref": "#/components/parameters/QueryPitchMaxPitchUnit"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechUsed"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechTvOnly"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechStage"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechSubStage"
          },
          {
            "$ref": "#/components/parameters/QueryGoalLineGoalLineTechDateFrom"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarTvOnly"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarStage"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarSubStage"
          },
          {
            "$ref": "#/components/parameters/QueryVarVarDateFrom"
          }
        ]
      }
    },
    "/api/officials": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of officials",
        "operationId": "getOfficials",
        "summary": "Officials",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Officials"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByOfficials"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsOfficials"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsOfficials"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryNameOfficials"
          },
          {
            "$ref": "#/components/parameters/QueryFirstName"
          },
          {
            "$ref": "#/components/parameters/QuerySecondName"
          },
          {
            "$ref": "#/components/parameters/QueryCommonName"
          },
          {
            "$ref": "#/components/parameters/QuerySex"
          },
          {
            "$ref": "#/components/parameters/QueryAge"
          },
          {
            "$ref": "#/components/parameters/QueryDateOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryYearOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryRetirementDate"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryCity"
          },
          {
            "$ref": "#/components/parameters/QueryCategory"
          },
          {
            "$ref": "#/components/parameters/QueryFifaOfficial"
          },
          {
            "$ref": "#/components/parameters/QueryContinentalOfficial"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentAbility"
          },
          {
            "$ref": "#/components/parameters/QueryPotentialAbility"
          },
          {
            "$ref": "#/components/parameters/QueryReputation"
          },
          {
            "$ref": "#/components/parameters/QueryAllowingFlow"
          },
          {
            "$ref": "#/components/parameters/QueryDiscipline"
          },
          {
            "$ref": "#/components/parameters/QueryImportantMatches"
          },
          {
            "$ref": "#/components/parameters/QueryPressure"
          },
          {
            "$ref": "#/components/parameters/QueryRefereeing"
          },
          {
            "$ref": "#/components/parameters/QueryRunningLine"
          },
          {
            "$ref": "#/components/parameters/QueryTimekeeping"
          },
          {
            "$ref": "#/components/parameters/QueryHairColour"
          },
          {
            "$ref": "#/components/parameters/QueryUpdated"
          }
        ]
      }
    },
    "/api/openapi": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "description": "OpenAPI JSON file for the API",
        "operationId": "getOpenapi",
        "summary": "Openapi",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryVersion"
          },
          {
            "$ref": "#/components/parameters/QueryDocumentationType"
          }
        ]
      }
    },
    "/api/persons": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of people",
        "operationId": "getPersons",
        "summary": "Persons",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Persons"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByPersons"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsPersons"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsPersons"
          },
          {
            "$ref": "#/components/parameters/QueryNamePersons"
          },
          {
            "$ref": "#/components/parameters/QueryFirstName"
          },
          {
            "$ref": "#/components/parameters/QuerySecondName"
          },
          {
            "$ref": "#/components/parameters/QueryFullName"
          },
          {
            "$ref": "#/components/parameters/QueryAge"
          },
          {
            "$ref": "#/components/parameters/QueryDateOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          },
          {
            "$ref": "#/components/parameters/QuerySecondCountryId"
          },
          {
            "$ref": "#/components/parameters/QuerySecondCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryThirdCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryThirdCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryDeclaredNationId"
          },
          {
            "$ref": "#/components/parameters/QueryDeclaredNationName"
          },
          {
            "$ref": "#/components/parameters/QueryCityOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryRegionOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryResidentNationId"
          },
          {
            "$ref": "#/components/parameters/QueryResidentNationName"
          },
          {
            "$ref": "#/components/parameters/QueryBasedClubId"
          },
          {
            "$ref": "#/components/parameters/QueryBasedClubName"
          },
          {
            "$ref": "#/components/parameters/QueryPermanentClubId"
          },
          {
            "$ref": "#/components/parameters/QueryPermanentClubName"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionTier"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionType"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionIsYouth"
          },
          {
            "$ref": "#/components/parameters/QueryBasedCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryBasedCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryContractedNationId"
          },
          {
            "$ref": "#/components/parameters/QueryContractedNationName"
          },
          {
            "$ref": "#/components/parameters/QueryClassificationId"
          },
          {
            "$ref": "#/components/parameters/QueryMediaJobId"
          },
          {
            "$ref": "#/components/parameters/QuerySex"
          },
          {
            "$ref": "#/components/parameters/QueryQualification"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingStyle"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentAbility"
          },
          {
            "$ref": "#/components/parameters/QueryPotentialAbilityPersons"
          },
          {
            "$ref": "#/components/parameters/QueryLoanClubId"
          },
          {
            "$ref": "#/components/parameters/QueryLoanClubName"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryClubNationId"
          },
          {
            "$ref": "#/components/parameters/QueryClubNationName"
          },
          {
            "$ref": "#/components/parameters/QueryLastPlayingClubId"
          },
          {
            "$ref": "#/components/parameters/QueryLastPlayingClubName"
          },
          {
            "$ref": "#/components/parameters/QueryLastNonPlayingClubId"
          },
          {
            "$ref": "#/components/parameters/QueryLastNonPlayingClubName"
          },
          {
            "$ref": "#/components/parameters/QueryLastPlayingHistoryYear"
          },
          {
            "$ref": "#/components/parameters/QueryNickName"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentJob"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsAttackingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsDepthDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsDirectnessDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsFluidityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsFlexibilityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsPhysicalityOfPlayDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsPressingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsSquadRotationDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsTeamTacticalFocusDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsTempoDescription"
          },
          {
            "$ref": "#/components/parameters/QueryTacticsAttackingWidthDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingAttackingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingDefendingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingFitnessDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingMentalDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingTechnicalDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingTacticalDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingSetPiecesDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingGoalkeepingDistributionDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingGoalkeepingHandlingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryCoachingGoalkeepingShotStoppingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementBuyingPlayersDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementDisciplineDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementTrainingIntensityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementVersatilityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementMotivatingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementPeopleManagementDescription"
          },
          {
            "$ref": "#/components/parameters/QueryManagementYoungstersDescription"
          },
          {
            "$ref": "#/components/parameters/QueryKnowledgeNegotiatingDescription"
          },
          {
            "$ref": "#/components/parameters/QueryKnowledgeJudgingPlayerAbilityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryKnowledgeJudgingPlayerPotentialDescription"
          },
          {
            "$ref": "#/components/parameters/QueryKnowledgeJudgingStaffAbilityDescription"
          },
          {
            "$ref": "#/components/parameters/QueryKnowledgeTacticalKnowledgeDescription"
          },
          {
            "$ref": "#/components/parameters/QueryChairpersonBusinessDescription"
          },
          {
            "$ref": "#/components/parameters/QueryChairpersonInterferenceDescription"
          },
          {
            "$ref": "#/components/parameters/QueryChairpersonPatienceDescription"
          },
          {
            "$ref": "#/components/parameters/QueryChairpersonResourcesDescription"
          },
          {
            "$ref": "#/components/parameters/QueryChairpersonYoungstersDescription"
          },
          {
            "$ref": "#/components/parameters/QueryMedicalPhysiotherapyDescription"
          },
          {
            "$ref": "#/components/parameters/QueryMedicalInjuryManagementDescription"
          },
          {
            "$ref": "#/components/parameters/QueryDataAnalystAnalysingDataDescription"
          },
          {
            "$ref": "#/components/parameters/QueryDataAnalystJudgingPlayerData"
          },
          {
            "$ref": "#/components/parameters/QueryDataAnalystJudgingTeamDataDescription"
          },
          {
            "$ref": "#/components/parameters/QueryDataAnalystPresentingDataDescription"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsDeliveryType"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsDefendingPosts"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsAimFor"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsDefensiveMarking"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsAttackingNumbers"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsDefensiveNumbers"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredTacticsDefendingFreeKicks"
          },
          {
            "$ref": "#/components/parameters/QueryGbeStatus"
          },
          {
            "$ref": "#/components/parameters/QueryGbeExemptionReason"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailStatus"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailExemptionReason"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailExemptNation"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailQualification"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCurrentJob"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCumulativeDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCumulativeMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailLongestConsecutiveDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailLongestConsecutiveMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCriteriaHasFirstTeamResponsibility"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCriteriaHasUefaProLicense"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCriteriaHasQualifyingExperience"
          },
          {
            "$ref": "#/components/parameters/QueryGbeDetailCriteriaExperienceMethod"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusStatus"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusExemptionReason"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusExemptNation"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusQualification"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCurrentJob"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCumulativeDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCumulativeMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusLongestConsecutiveDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusLongestConsecutiveMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCriteriaHasFirstTeamResponsibility"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCriteriaHasUefaProLicense"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCriteriaHasQualifyingExperience"
          },
          {
            "$ref": "#/components/parameters/QueryGbeHeadCoachStatusCriteriaExperienceMethod"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusStatus"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusExemptionReason"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusExemptNation"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusQualification"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCurrentJob"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCumulativeDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCumulativeMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusLongestConsecutiveDays"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusLongestConsecutiveMonths"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCriteriaHasFirstTeamResponsibility"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCriteriaHasUefaProLicense"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCriteriaHasQualifyingExperience"
          },
          {
            "$ref": "#/components/parameters/QueryGbeAssistantCoachStatusCriteriaExperienceMethod"
          }
        ]
      },
      "post": {
        "tags": [
          "Data"
        ],
        "description": "List of people",
        "operationId": "postPersons",
        "summary": "Persons",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Persons"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByPersons"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsPersons"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsPersons"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonsPost"
        }
      }
    },
    "/api/playerAppearances": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "Player appearances broken down by season and team (club or nation)",
        "operationId": "getPlayerAppearances",
        "summary": "Player Appearances",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlayerAppearances"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsPlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerId"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerName"
          },
          {
            "$ref": "#/components/parameters/QuerySeason"
          },
          {
            "$ref": "#/components/parameters/QueryTeamName"
          },
          {
            "$ref": "#/components/parameters/QueryCompetitionNamePlayerAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryCompetitionType"
          },
          {
            "$ref": "#/components/parameters/QueryStartDate"
          },
          {
            "$ref": "#/components/parameters/QueryEndDate"
          },
          {
            "$ref": "#/components/parameters/QueryAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryMinutesPlayed"
          },
          {
            "$ref": "#/components/parameters/QueryStarts"
          },
          {
            "$ref": "#/components/parameters/QueryGoals"
          },
          {
            "$ref": "#/components/parameters/QueryAssists"
          },
          {
            "$ref": "#/components/parameters/QueryYellowCards"
          },
          {
            "$ref": "#/components/parameters/QueryRedCards"
          }
        ]
      }
    },
    "/api/players": {
      "get": {
        "tags": [
          "Data"
        ],
        "description": "List of players",
        "operationId": "getPlayers",
        "summary": "Players",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Players"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/QueryContinuation"
          },
          {
            "$ref": "#/components/parameters/QueryContinuationToken"
          },
          {
            "$ref": "#/components/parameters/QuerySortByPlayers"
          },
          {
            "$ref": "#/components/parameters/QuerySortOrder"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeFieldsPlayers"
          },
          {
            "$ref": "#/components/parameters/QueryExcludeFieldsPlayers"
          },
          {
            "$ref": "#/components/parameters/QueryNamePlayers"
          },
          {
            "$ref": "#/components/parameters/QueryFirstName"
          },
          {
            "$ref": "#/components/parameters/QuerySecondName"
          },
          {
            "$ref": "#/components/parameters/QueryFullName"
          },
          {
            "$ref": "#/components/parameters/QueryAge"
          },
          {
            "$ref": "#/components/parameters/QueryDateOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryYearOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryCountryName"
          },
          {
            "$ref": "#/components/parameters/QuerySecondCountryId"
          },
          {
            "$ref": "#/components/parameters/QuerySecondCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryThirdCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryThirdCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryDeclaredNationId"
          },
          {
            "$ref": "#/components/parameters/QueryDeclaredNationName"
          },
          {
            "$ref": "#/components/parameters/QueryCityOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryRegionOfBirth"
          },
          {
            "$ref": "#/components/parameters/QueryResidentNationId"
          },
          {
            "$ref": "#/components/parameters/QueryResidentNationName"
          },
          {
            "$ref": "#/components/parameters/QueryBasedClubId"
          },
          {
            "$ref": "#/components/parameters/QueryBasedClubName"
          },
          {
            "$ref": "#/components/parameters/QueryInBasedClubFirstTeam"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionTier"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionType"
          },
          {
            "$ref": "#/components/parameters/QueryClubCompetitionIsYouth"
          },
          {
            "$ref": "#/components/parameters/QueryClubsCompetitionGbeBand"
          },
          {
            "$ref": "#/components/parameters/QueryBasedCountryId"
          },
          {
            "$ref": "#/components/parameters/QueryBasedCountryName"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentAbility"
          },
          {
            "$ref": "#/components/parameters/QueryPotentialAbilityPlayers"
          },
          {
            "$ref": "#/components/parameters/QueryLeftFootDescription"
          },
          {
            "$ref": "#/components/parameters/QueryRightFootDescription"
          },
          {
            "$ref": "#/components/parameters/QueryPreferredFoot"
          },
          {
            "$ref": "#/components/parameters/QueryCurrentSquadNumber"
          },
          {
            "$ref": "#/components/parameters/QueryHeight"
          },
          {
            "$ref": "#/components/parameters/QueryDebutCompetitionId"
          },
          {
            "$ref": "#/components/parameters/QueryDebutCompetitionName"
          },
          {
            "$ref": "#/components/parameters/QueryBestPosition"
          },
          {
            "$ref": "#/components/parameters/QueryBestRole"
          },
          {
            "$ref": "#/components/parameters/QueryHomegrownStatus"
          },
          {
            "$ref": "#/components/parameters/QueryReputationHomeReputation"
          },
          {
            "$ref": "#/components/parameters/QueryReputationCurrentReputation"
          },
          {
            "$ref": "#/components/parameters/QueryReputationWorldReputation"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesAggression"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesAnticipation"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesBravery"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesComposure"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesConcentration"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesConsistency"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesDecisions"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesFlair"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesImportantMatches"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesLeadership"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesOffTheBall"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesPositioning"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesTeamWork"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesVision"
          },
          {
            "$ref": "#/components/parameters/QueryMentalAttributesWorkRate"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesAcceleration"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesAgility"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesBalance"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesJumpingReach"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesNaturalFitness"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesPace"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesStamina"
          },
          {
            "$ref": "#/components/parameters/QueryPhysicalAttributesStrength"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesCorners"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesCrossing"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesDribbling"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesFinishing"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesFirstTouch"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesFreeKicks"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesHeading"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesLongShots"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesLongThrows"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesMarking"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPassing"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPenalties"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesTackling"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesTechnique"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesVersatility"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesAerialAbility"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesCommandOfArea"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesCommunication"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesGkEccentricity"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesHandling"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesKicking"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesOneOnOnes"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesReflexes"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesRushingOut"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesTendencyToPunch"
          },
          {
            "$ref": "#/components/parameters/QueryGoalkeeperAttributesThrowing"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsGk"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsDl"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsDc"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsDr"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsDm"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsWbl"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsWbr"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsMl"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsMc"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsMr"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsAml"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsAmc"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsAmr"
          },
          {
            "$ref": "#/components/parameters/QueryPositionsSt"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceTotalInjuries"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceTotalDaysInjured"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceMajorInjuries"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceInjuryEventDensity"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAvailabilityTrend"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceDataConfidence"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAvailabilityIndexOverall"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAvailabilityIndexLast12M"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAvailabilityIndexLast24M"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAvailabilityIndexLast36M"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceDurationProfileShort"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceDurationProfileMedium"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceDurationProfileLong"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceReasonDistributionInjury"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceReasonDistributionSuspension"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceReasonDistributionInternationalDuty"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAbsenceReasonDistributionOther"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligencePositionalAvailabilityComparisonPlayerAvailability"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligencePositionalAvailabilityComparisonPositionAverage"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligencePositionalAvailabilityComparisonComparison"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceWorkloadVsAvailabilityMinutesPlayed"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceWorkloadVsAvailabilityTotalDaysInjured"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceWorkloadVsAvailabilityDaysInjuredPerThousandMinutes"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilitySeasons"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityDomesticAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityDomesticTotalMatches"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityDomesticPerSeason"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityDomesticRate"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityContinentalAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityContinentalTotalMatches"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityContinentalPerSeason"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityContinentalRate"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityInternationalAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityInternationalTotalMatches"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityInternationalPerSeason"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityInternationalRate"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityOverallAppearances"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityOverallTotalMatches"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityOverallPerSeason"
          },
          {
            "$ref": "#/components/parameters/QueryAvailabilityIntelligenceAppearanceAvailabilityOverallRate"
          },
          {
            "$ref": "#/components/parameters/QueryPermanentClubContractDateFrom"
          },
          {
            "$ref": "#/components/parameters/QueryPermanentClubContractDateEnded"
          },
          {
            "$ref": "#/components/parameters/QueryPermanentClubContractDateTo"
          },
          {
            "$ref": "#/components/parameters/QueryLoanClubContractDateFrom"
          },
          {
            "$ref": "#/components/parameters/QueryLoanClubContractDateEnded"
          },
          {
            "$ref": "#/components/parameters/QueryLoanClubContractDateTo"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesCurrentAbilityAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesCurrentAbilityByAge"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesCurrentAbilityByRole"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesCurrentAbilityByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesCurrentAbilityByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesPotentialAbilityAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesPotentialAbilityByAge"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesPotentialAbilityByRole"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesPotentialAbilityByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryPlayerAttributesPercentilesPotentialAbilityByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCornersAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCornersByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCornersByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCornersByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCornersByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCrossingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCrossingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCrossingByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCrossingByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesCrossingByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesDribblingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesDribblingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesDribblingByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesDribblingByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesDribblingByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFinishingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFinishingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFinishingByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFinishingByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFinishingByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFirstTouchAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFirstTouchByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFirstTouchByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFirstTouchByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFirstTouchByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFreeKicksAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFreeKicksByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFreeKicksByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFreeKicksByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesFreeKicksByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesHeadingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesHeadingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesHeadingByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesHeadingByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesHeadingByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongShotsAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongShotsByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongShotsByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongShotsByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongShotsByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongThrowsAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongThrowsByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongThrowsByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongThrowsByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesLongThrowsByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesMarkingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesMarkingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesMarkingByRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesMarkingByLeague"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesMarkingByLeagueRole"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesPassingAbsolute"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesPassingByAge"
          },
          {
            "$ref": "#/components/parameters/QueryTechnicalAttributesPercentilesPassingByRole"
          },
          {
[...]
