{"swagger": "2.0", "info": {"title": "SkillCorner API", "description": "SkillCorner API Documentation\nFind glossary and additional material at https://skillcorner.crunch.help/en\n\nSome API parameters accept multiple integer or string values separated by commas in the URL (e.g., `?competition=1,2,3`).\nIn this documentation, enter each ID as a separate value, and the API will combine them into a single parameter.", "contact": {"email": "contact@skillcorner.com"}, "version": ""}, "host": "skillcorner.com", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}, "api_key": {"type": "apiKey", "name": "token", "in": "query"}}, "security": [{"Basic": []}, {"api_key": []}], "paths": {"/beta/out_of_possession/": {"get": {"operationId": "beta_out_of_possession_list", "description": "This endpoint returns Game Intelligence V1 data and metrics, based on a previous computation logic and data model. This version is no longer generated for new matches. Use [`/metrics/game_intelligence/out_of_possession/on_ball_engagements`](/api/docs#/metrics/metrics_game_intelligence_out_of_possession_on_ball_engagements_list) to access Game Intelligence V2.", "parameters": [{"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "group_by", "in": "query", "description": "The comma-separated group by values.", "type": "array", "items": {"type": "string", "enum": ["player", "team", "group", "position"]}, "default": "player"}, {"name": "file_format", "in": "query", "description": "The format of the file.", "type": "string", "enum": ["json", "csv"], "default": "csv"}, {"name": "playing_time__gte", "in": "query", "description": "The minimum playing time.", "type": "integer"}, {"name": "count_match__gte", "in": "query", "description": "The minimum number of matches.", "type": "integer"}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["beta (Game Intelligence V1 - Deprecated)"], "deprecated": true}, "parameters": []}, "/competition_editions/": {"get": {"operationId": "competition_editions_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "lang", "in": "query", "description": "Language of the results", "type": "string", "enum": ["en", "fr", "es", "de", "zh_hans"]}, {"name": "user", "in": "query", "description": "Filters on authorization level of user.", "type": "boolean", "default": false}, {"name": "component_permission_for", "in": "query", "description": "Filters on authorization level of user for a specific component. \n\nAvailable values : all, physical, tracking, gi_in_possession, gi_out_of_possession", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"required": ["competition", "season"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "competition": {"required": ["area", "name", "gender"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "area": {"title": "Area", "type": "string", "maxLength": 10, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "gender": {"title": "Gender", "type": "string", "enum": ["male", "female"]}, "age_group": {"title": "Age group", "type": "string", "enum": ["adult", "U9", "U10", "U11", "U12", "U13", "U14", "U15", "U16", "U17", "U18", "U19", "U20", "U21", "U22", "U23"]}}}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "name": {"title": "Name", "type": "string", "readOnly": true}}}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["competition_editions"]}, "parameters": []}, "/competitions/": {"get": {"operationId": "competitions_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "lang", "in": "query", "description": "Language of the results", "type": "string", "enum": ["en", "fr", "es", "de", "zh_hans"]}, {"name": "user", "in": "query", "description": "Filters on authorization level of user.", "type": "boolean", "default": false}, {"name": "component_permission_for", "in": "query", "description": "Filters on authorization level of user for a specific component. \n\nAvailable values : all, physical, tracking, gi_in_possession, gi_out_of_possession", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"required": ["area", "name", "gender"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "area": {"title": "Area", "type": "string", "maxLength": 10, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "gender": {"title": "Gender", "type": "string", "enum": ["male", "female"]}, "age_group": {"title": "Age group", "type": "string", "enum": ["adult", "U9", "U10", "U11", "U12", "U13", "U14", "U15", "U16", "U17", "U18", "U19", "U20", "U21", "U22", "U23"]}}}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["competitions"]}, "parameters": []}, "/competitions/{competition_id}/editions/": {"get": {"operationId": "competitions_editions_list", "description": "All editions for a competition", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "lang", "in": "query", "description": "Language of the results", "type": "string", "enum": ["en", "fr", "es", "de", "zh_hans"]}, {"name": "user", "in": "query", "description": "Filters on authorization level of user.", "type": "boolean", "default": false}, {"name": "component_permission_for", "in": "query", "description": "Filters on authorization level of user for a specific component. \n\nAvailable values : all, physical, tracking, gi_in_possession, gi_out_of_possession", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"required": ["season"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "name": {"title": "Name", "type": "string", "readOnly": true}}}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["competitions"]}, "parameters": [{"name": "competition_id", "in": "path", "required": true, "type": "string"}]}, "/competitions/{competition_id}/rounds/": {"get": {"operationId": "competitions_rounds_list", "description": "All rounds for a competition", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"required": ["name", "round_number"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 30, "minLength": 1}, "round_number": {"title": "Round number", "type": "integer", "maximum": 32767, "minimum": -32768}, "potential_overtime": {"title": "Potential overtime", "type": "boolean"}}}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["competitions"]}, "parameters": [{"name": "competition_id", "in": "path", "required": true, "type": "string"}]}, "/data_collections/": {"get": {"operationId": "data_collections_list", "description": "", "parameters": [{"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}], "responses": {"200": {"description": "Data Collections data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"match_id": {"type": "number"}, "status": {"type": "string"}, "physical_v3_last_modified": {"type": "string"}, "tracking_last_modified": {"type": "string"}, "tracking_extra_last_modified": {"type": "string"}, "tracking_extra_players_quality_index": {"type": "number"}, "tracking_extra_ball_quality_index": {"type": "number"}, "tracking_extra_v3_last_modified": {"type": "string"}, "tracking_extra_v3_players_quality_index": {"type": "number"}, "tracking_extra_v3_ball_quality_index": {"type": "number"}, "in_possession_off_ball_runs_last_modified": {"type": "string"}, "in_possession_passes_last_modified": {"type": "string"}, "in_possession_dealing_with_pressure_last_modified": {"type": "string"}, "dynamic_events_check": {"type": "boolean"}, "dynamic_events_last_modified": {"type": "string"}, "dynamic_events_v2_check": {"type": "boolean"}, "dynamic_events_v2_last_modified": {"type": "string"}, "video_feed_type": {"type": "string"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["data_collections"]}, "parameters": []}, "/data_collections/custom/": {"get": {"operationId": "data_collections_custom_list", "description": "", "parameters": [{"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "feed_type", "in": "query", "description": "Filter by custom feed type. Accepted values: tactical, clean_feed, broadcast.", "required": false, "type": "string"}], "responses": {"200": {"description": "Data Collections data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"match_id": {"type": "number"}, "status": {"type": "string"}, "physical_v3_last_modified": {"type": "string"}, "tracking_last_modified": {"type": "string"}, "tracking_extra_last_modified": {"type": "string"}, "tracking_extra_players_quality_index": {"type": "number"}, "tracking_extra_ball_quality_index": {"type": "number"}, "tracking_extra_v3_last_modified": {"type": "string"}, "tracking_extra_v3_players_quality_index": {"type": "number"}, "tracking_extra_v3_ball_quality_index": {"type": "number"}, "in_possession_off_ball_runs_last_modified": {"type": "string"}, "in_possession_passes_last_modified": {"type": "string"}, "in_possession_dealing_with_pressure_last_modified": {"type": "string"}, "dynamic_events_check": {"type": "boolean"}, "dynamic_events_last_modified": {"type": "string"}, "dynamic_events_v2_check": {"type": "boolean"}, "dynamic_events_v2_last_modified": {"type": "string"}, "video_feed_type": {"type": "string"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["data_collections"]}, "parameters": []}, "/in_possession/off_ball_runs/": {"get": {"operationId": "in_possession_off_ball_runs_list", "description": "This endpoint returns Game Intelligence V1 data and metrics, based on a previous computation logic and data model. This version is no longer generated for new matches. Use [`/metrics/game_intelligence/in_possession/off_ball_runs/`](/api/docs#/metrics/metrics_game_intelligence_in_possession_off_ball_runs_list) to access Game Intelligence V2.", "parameters": [{"name": "season", "in": "query", "description": "SkillCorner Season ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition", "in": "query", "description": "SkillCorner Competition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "team", "in": "query", "description": "SkillCorner Team ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "player", "in": "query", "description": "SkillCorner Player ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "date__lte", "in": "query", "description": "Match date before the date.", "type": "string", "format": "date"}, {"name": "date__gte", "in": "query", "description": "Match date after the date.", "type": "string", "format": "date"}, {"name": "group", "in": "query", "description": "Position group.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : CentralDefender, FullBack, Midfield, WideAttacker, CenterForward", "type": "string"}, {"name": "role", "in": "query", "description": "Player role acronym. This parameter accepts multiple values separated by commas. \n\nAvailable values : GK, LCB, CB, RCB, LWB, LB, RB, RWB, LDM, DM, RDM, LM, CM, RM, AM, LW, RW, LF, RF, CF, SUB", "type": "string"}, {"name": "age__lte", "in": "query", "description": "Exclude players older than this number.", "type": "integer"}, {"name": "age__gte", "in": "query", "description": "Exclude players younger than this number.", "type": "integer"}, {"name": "results", "in": "query", "description": "Result of the game.\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "string", "enum": ["win", "lose", "draw"]}, "default": ["win", "lose", "draw"]}, {"name": "venue", "in": "query", "description": "home or/and away separated by comma.", "type": "array", "items": {"type": "string", "enum": ["home", "away"]}, "default": ["home", "away"]}, {"name": "playing_time__gte", "in": "query", "description": "Exclude match-player on which player played less than this number (in minutes).", "type": "integer"}, {"name": "count_match__gte", "in": "query", "description": "Exclude metrics computed based on less than this number of player matches.", "type": "integer"}, {"name": "channel", "in": "query", "description": "Filter the metrics on a specific channel of the pitch.", "type": "string", "enum": ["all", "wide_left", "wide_right", "left_half_space", "right_half_space", "central"], "default": "all"}, {"name": "third", "in": "query", "description": "Filter the metrics on a specific third of the pitch.", "type": "string", "enum": ["all", "defending", "middle", "attacking"], "default": "all"}, {"name": "run_type", "in": "query", "description": "Get metrics for one or several run types. “all” means without any distinction between the run types.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : all, run_in_behind, run_ahead_of_the_ball, support_run, pulling_wide_run, coming_short_run, underlap_run, overlap_run, dropping_off_run, pulling_half_space_run, cross_receiver_run", "type": "string"}, {"name": "average_per", "in": "query", "description": "Specify how you want to average the metrics.", "type": "string", "enum": ["match", "100_runs", "30_min_tip"], "default": "match"}, {"name": "group_by", "in": "query", "description": "Specify the aggregation level you want.\nThis parameter accepts multiple values separated by commas. ", "type": "array", "items": {"type": "string", "enum": ["player", "match", "team", "group", "position", "season", "competition"]}, "default": ["match", "player"]}], "responses": {"200": {"description": "In Possession Off-Ball Running data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_run_in_behind_in_sample": {"type": "number"}, "count_dangerous_run_in_behind_per_match": {"type": "number"}, "run_in_behind_threat_per_match": {"type": "number"}, "count_run_in_behind_leading_to_goal_per_match": {"type": "number"}, "count_run_in_behind_targeted_per_match": {"type": "number"}, "count_run_in_behind_received_per_match": {"type": "number"}, "count_run_in_behind_leading_to_shot_per_match": {"type": "number"}, "run_in_behind_targeted_threat_per_match": {"type": "number"}, "run_in_behind_received_threat_per_match": {"type": "number"}, "count_dangerous_run_in_behind_targeted_per_match": {"type": "number"}, "count_dangerous_run_in_behind_received_per_match": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["in_possession (Game Intelligence V1 - Deprecated)"], "deprecated": true}, "parameters": []}, "/in_possession/on_ball_pressures/": {"get": {"operationId": "in_possession_on_ball_pressures_list", "description": "This endpoint returns Game Intelligence V1 data and metrics, based on a previous computation logic and data model. This version is no longer generated for new matches. Use [`/metrics/game_intelligence/in_possession/player_possessions/`](/api/docs#/metrics/metrics_game_intelligence_in_possession_player_possessions_list) and [`/metrics/game_intelligence/in_possession/passes/`](/api/docs#/metrics/metrics_game_intelligence_in_possession_passes_list) to access Game Intelligence V2.", "parameters": [{"name": "season", "in": "query", "description": "SkillCorner Season ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition", "in": "query", "description": "SkillCorner Competition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "team", "in": "query", "description": "SkillCorner Team ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "player", "in": "query", "description": "SkillCorner Player ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "date__lte", "in": "query", "description": "Match date before the date.", "type": "string", "format": "date"}, {"name": "date__gte", "in": "query", "description": "Match date after the date.", "type": "string", "format": "date"}, {"name": "group", "in": "query", "description": "Position group.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : CentralDefender, FullBack, Midfield, WideAttacker, CenterForward", "type": "string"}, {"name": "role", "in": "query", "description": "Player role acronym. This parameter accepts multiple values separated by commas. \n\nAvailable values : GK, LCB, CB, RCB, LWB, LB, RB, RWB, LDM, DM, RDM, LM, CM, RM, AM, LW, RW, LF, RF, CF, SUB", "type": "string"}, {"name": "age__lte", "in": "query", "description": "Exclude players older than this number.", "type": "integer"}, {"name": "age__gte", "in": "query", "description": "Exclude players younger than this number.", "type": "integer"}, {"name": "results", "in": "query", "description": "Result of the game.\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "string", "enum": ["win", "lose", "draw"]}, "default": ["win", "lose", "draw"]}, {"name": "venue", "in": "query", "description": "home or/and away separated by comma.", "type": "array", "items": {"type": "string", "enum": ["home", "away"]}, "default": ["home", "away"]}, {"name": "playing_time__gte", "in": "query", "description": "Exclude match-player on which player played less than this number (in minutes).", "type": "integer"}, {"name": "count_match__gte", "in": "query", "description": "Exclude metrics computed based on less than this number of player matches.", "type": "integer"}, {"name": "channel", "in": "query", "description": "Filter the metrics on a specific channel of the pitch.", "type": "string", "enum": ["all", "wide_left", "wide_right", "left_half_space", "right_half_space", "central"], "default": "all"}, {"name": "third", "in": "query", "description": "Filter the metrics on a specific third of the pitch.", "type": "string", "enum": ["all", "defending", "middle", "attacking"], "default": "all"}, {"name": "pressure_intensity", "in": "query", "description": "Get metrics for one or several pressure intensities. “all” means without any distinction between the pressure intensities.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : all, low, medium, high", "type": "string"}, {"name": "average_per", "in": "query", "description": "Specify how you want to average the metrics.", "type": "string", "enum": ["match", "100_pressures", "30_min_tip"], "default": "match"}, {"name": "group_by", "in": "query", "description": "Specify the aggregation level you want.\nThis parameter accepts multiple values separated by commas. ", "type": "array", "items": {"type": "string", "enum": ["player", "match", "team", "group", "position", "season", "competition"]}, "default": ["match", "player"]}], "responses": {"200": {"description": "In Possession On Ball Pressures data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_high_pressure_received_in_sample": {"type": "number"}, "count_high_pressure_received_per_match": {"type": "number"}, "count_forced_losses_under_high_pressure_per_match": {"type": "number"}, "count_ball_retention_under_high_pressure_per_match": {"type": "number"}, "ball_retention_ratio_under_high_pressure": {"type": "number"}, "ball_retention_added_under_high_pressure_per_match": {"type": "number"}, "pass_completion_ratio_under_high_pressure": {"type": "number"}, "count_pass_attempts_under_high_pressure_per_match": {"type": "number"}, "count_completed_passes_under_high_pressure_per_match": {"type": "number"}, "count_dangerous_pass_attemps_under_high_pressure_per_match": {"type": "number"}, "count_completed_dangerous_passes_under_high_pressure_per_match": {"type": "number"}, "dangerous_pass_completion_ratio_under_high_pressure": {"type": "number"}, "count_difficult_pass_attempts_under_high_pressure_per_match": {"type": "number"}, "count_completed_difficult_passes_under_high_pressure_per_match": {"type": "number"}, "difficult_pass_completion_ratio_under_high_pressure": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["in_possession (Game Intelligence V1 - Deprecated)"], "deprecated": true}, "parameters": []}, "/in_possession/passes/": {"get": {"operationId": "in_possession_passes_list", "description": "This endpoint returns Game Intelligence V1 data and metrics, based on a previous computation logic and data model. This version is no longer generated for new matches. Use [`/metrics/game_intelligence/in_possession/passes/`](/api/docs#/metrics/metrics_game_intelligence_in_possession_passes_list) to access Game Intelligence V2.", "parameters": [{"name": "season", "in": "query", "description": "SkillCorner Season ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition", "in": "query", "description": "SkillCorner Competition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "match", "in": "query", "description": "SkillCorner Match ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "team", "in": "query", "description": "SkillCorner Team ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "player", "in": "query", "description": "SkillCorner Player ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "date__lte", "in": "query", "description": "Match date before the date.", "type": "string", "format": "date"}, {"name": "date__gte", "in": "query", "description": "Match date after the date.", "type": "string", "format": "date"}, {"name": "group", "in": "query", "description": "Position group.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : CentralDefender, FullBack, Midfield, WideAttacker, CenterForward", "type": "string"}, {"name": "role", "in": "query", "description": "Player role acronym. This parameter accepts multiple values separated by commas. \n\nAvailable values : GK, LCB, CB, RCB, LWB, LB, RB, RWB, LDM, DM, RDM, LM, CM, RM, AM, LW, RW, LF, RF, CF, SUB", "type": "string"}, {"name": "age__lte", "in": "query", "description": "Exclude players older than this number.", "type": "integer"}, {"name": "age__gte", "in": "query", "description": "Exclude players younger than this number.", "type": "integer"}, {"name": "results", "in": "query", "description": "Result of the game.\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "string", "enum": ["win", "lose", "draw"]}, "default": ["win", "lose", "draw"]}, {"name": "venue", "in": "query", "description": "home or/and away separated by comma.", "type": "array", "items": {"type": "string", "enum": ["home", "away"]}, "default": ["home", "away"]}, {"name": "playing_time__gte", "in": "query", "description": "Exclude match-player on which player played less than this number (in minutes).", "type": "integer"}, {"name": "count_match__gte", "in": "query", "description": "Exclude metrics computed based on less than this number of player matches.", "type": "integer"}, {"name": "channel", "in": "query", "description": "Filter the metrics on a specific channel of the pitch.", "type": "string", "enum": ["all", "wide_left", "wide_right", "left_half_space", "right_half_space", "central"], "default": "all"}, {"name": "third", "in": "query", "description": "Filter the metrics on a specific third of the pitch.", "type": "string", "enum": ["all", "defending", "middle", "attacking"], "default": "all"}, {"name": "run_type", "in": "query", "description": "Get metrics for one or several run types. “all” means without any distinction between the run types.\nThis parameter accepts multiple values separated by commas. \n\nAvailable values : all, run_in_behind, run_ahead_of_the_ball, support_run, pulling_wide_run, coming_short_run, underlap_run, overlap_run, dropping_off_run, pulling_half_space_run, cross_receiver_run", "type": "string"}, {"name": "average_per", "in": "query", "description": "Specify how you want to average the metrics.", "type": "string", "enum": ["match", "100_pass_opportunities", "30_min_tip"], "default": "match"}, {"name": "group_by", "in": "query", "description": "Specify the aggregation level you want.\nThis parameter accepts multiple values separated by commas. ", "type": "array", "items": {"type": "string", "enum": ["player", "match", "team", "group", "position", "season", "competition"]}, "default": ["match", "player"]}], "responses": {"200": {"description": "In Possession Passing data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_opportunities_to_pass_to_run_in_behind_in_sample": {"type": "number"}, "count_opportunities_to_pass_to_run_in_behind_per_match": {"type": "number"}, "count_pass_attempts_to_run_in_behind_per_match": {"type": "number"}, "pass_opportunities_to_run_in_behind_threat_per_match": {"type": "number"}, "run_in_behind_to_which_pass_attempted_threat_per_match": {"type": "number"}, "pass_completion_ratio_to_run_in_behind": {"type": "number"}, "count_run_in_behind_by_teammate_per_match": {"type": "number"}, "run_in_behind_to_which_pass_completed_threat_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_leading_to_shot_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_leading_to_goal_per_match": {"type": "number"}, "count_pass_opportunities_to_dangerous_run_in_behind_per_match": {"type": "number"}, "count_pass_attempts_to_dangerous_run_in_behind_per_match": {"type": "number"}, "count_completed_pass_to_dangerous_run_in_behind_per_match": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["in_possession (Game Intelligence V1 - Deprecated)"], "deprecated": true}, "parameters": []}, "/match/{match_id}/": {"get": {"operationId": "match_read", "description": "", "parameters": [{"name": "lang", "in": "query", "description": "Language of the results", "type": "string", "enum": ["en", "fr", "es", "de", "zh_hans"]}], "responses": {"200": {"description": "", "schema": {"required": ["date_time", "stadium", "home_team_kit", "away_team_kit", "home_team_playing_time", "away_team_playing_time", "competition_edition", "competition_round"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "home_team_score": {"title": "Home team score", "type": "integer", "maximum": 32767, "minimum": -32768}, "away_team_score": {"title": "Away team score", "type": "integer", "maximum": 32767, "minimum": -32768}, "date_time": {"title": "Date time", "type": "string", "format": "date-time"}, "stadium": {"required": ["name", "city"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 150, "minLength": 1}, "city": {"title": "City", "type": "string", "maxLength": 100}, "capacity": {"title": "Capacity", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "home_team": {"title": "Home team", "type": "string", "readOnly": true}, "home_team_kit": {"required": ["team_id", "season_id", "name", "jersey_color", "number_color"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "team_id": {"title": "Team id", "type": "integer"}, "season_id": {"title": "Season id", "type": "integer"}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 20, "minLength": 1}, "jersey_color": {"title": "Jersey color", "type": "string", "maxLength": 10, "minLength": 1}, "number_color": {"title": "Number color", "type": "string", "maxLength": 10, "minLength": 1}}}, "away_team": {"title": "Away team", "type": "string", "readOnly": true}, "away_team_kit": {"required": ["team_id", "season_id", "name", "jersey_color", "number_color"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "team_id": {"title": "Team id", "type": "integer"}, "season_id": {"title": "Season id", "type": "integer"}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 20, "minLength": 1}, "jersey_color": {"title": "Jersey color", "type": "string", "maxLength": 10, "minLength": 1}, "number_color": {"title": "Number color", "type": "string", "maxLength": 10, "minLength": 1}}}, "home_team_coach": {"required": ["first_name", "last_name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "maxLength": 50}, "last_name": {"title": "Last name", "type": "string", "maxLength": 50, "minLength": 1}}, "readOnly": true}, "away_team_coach": {"required": ["first_name", "last_name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "maxLength": 50}, "last_name": {"title": "Last name", "type": "string", "maxLength": 50, "minLength": 1}}, "readOnly": true}, "home_team_playing_time": {"type": "object", "properties": {"minutes_tip": {"title": "Minutes tip", "type": "number", "x-nullable": true}, "minutes_otip": {"title": "Minutes otip", "type": "number", "x-nullable": true}}}, "away_team_playing_time": {"type": "object", "properties": {"minutes_tip": {"title": "Minutes tip", "type": "number", "x-nullable": true}, "minutes_otip": {"title": "Minutes otip", "type": "number", "x-nullable": true}}}, "competition_edition": {"required": ["competition", "season"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "competition": {"required": ["area", "name", "gender"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "area": {"title": "Area", "type": "string", "maxLength": 10, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "gender": {"title": "Gender", "type": "string", "enum": ["male", "female"]}, "age_group": {"title": "Age group", "type": "string", "enum": ["adult", "U9", "U10", "U11", "U12", "U13", "U14", "U15", "U16", "U17", "U18", "U19", "U20", "U21", "U22", "U23"]}}}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "match_periods": {"title": "Match periods", "type": "string", "readOnly": true}, "competition_round": {"required": ["name", "round_number"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 30, "minLength": 1}, "round_number": {"title": "Round number", "type": "integer", "maximum": 32767, "minimum": -32768}, "potential_overtime": {"title": "Potential overtime", "type": "boolean"}}}, "referees": {"title": "Referees", "type": "string", "readOnly": true}, "players": {"title": "Players", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "enum": ["cancelled", "closed", "not_started", "postponed"]}, "home_team_side": {"type": "array", "items": {"title": "Home team side", "type": "string", "maxLength": 128, "minLength": 1}}, "ball": {"title": "Ball", "type": "string", "readOnly": true}, "pitch_length": {"title": "Pitch length", "type": "string", "readOnly": true}, "pitch_width": {"title": "Pitch width", "type": "string", "readOnly": true}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/": {"get": {"operationId": "match_custom_read", "description": "", "parameters": [{"name": "lang", "in": "query", "description": "Language of the results", "type": "string", "enum": ["en", "fr", "es", "de", "zh_hans"]}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "", "schema": {"required": ["date_time", "stadium", "home_team_kit", "away_team_kit", "home_team_playing_time", "away_team_playing_time", "competition_edition", "competition_round"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "home_team_score": {"title": "Home team score", "type": "integer", "maximum": 32767, "minimum": -32768}, "away_team_score": {"title": "Away team score", "type": "integer", "maximum": 32767, "minimum": -32768}, "date_time": {"title": "Date time", "type": "string", "format": "date-time"}, "stadium": {"required": ["name", "city"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 150, "minLength": 1}, "city": {"title": "City", "type": "string", "maxLength": 100}, "capacity": {"title": "Capacity", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "home_team": {"title": "Home team", "type": "string", "readOnly": true}, "home_team_kit": {"required": ["team_id", "season_id", "name", "jersey_color", "number_color"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "team_id": {"title": "Team id", "type": "integer"}, "season_id": {"title": "Season id", "type": "integer"}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 20, "minLength": 1}, "jersey_color": {"title": "Jersey color", "type": "string", "maxLength": 10, "minLength": 1}, "number_color": {"title": "Number color", "type": "string", "maxLength": 10, "minLength": 1}}}, "away_team": {"title": "Away team", "type": "string", "readOnly": true}, "away_team_kit": {"required": ["team_id", "season_id", "name", "jersey_color", "number_color"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "team_id": {"title": "Team id", "type": "integer"}, "season_id": {"title": "Season id", "type": "integer"}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 20, "minLength": 1}, "jersey_color": {"title": "Jersey color", "type": "string", "maxLength": 10, "minLength": 1}, "number_color": {"title": "Number color", "type": "string", "maxLength": 10, "minLength": 1}}}, "home_team_coach": {"required": ["first_name", "last_name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "maxLength": 50}, "last_name": {"title": "Last name", "type": "string", "maxLength": 50, "minLength": 1}}, "readOnly": true}, "away_team_coach": {"required": ["first_name", "last_name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "maxLength": 50}, "last_name": {"title": "Last name", "type": "string", "maxLength": 50, "minLength": 1}}, "readOnly": true}, "home_team_playing_time": {"type": "object", "properties": {"minutes_tip": {"title": "Minutes tip", "type": "number", "x-nullable": true}, "minutes_otip": {"title": "Minutes otip", "type": "number", "x-nullable": true}}}, "away_team_playing_time": {"type": "object", "properties": {"minutes_tip": {"title": "Minutes tip", "type": "number", "x-nullable": true}, "minutes_otip": {"title": "Minutes otip", "type": "number", "x-nullable": true}}}, "competition_edition": {"required": ["competition", "season"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "competition": {"required": ["area", "name", "gender"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "area": {"title": "Area", "type": "string", "maxLength": 10, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "gender": {"title": "Gender", "type": "string", "enum": ["male", "female"]}, "age_group": {"title": "Age group", "type": "string", "enum": ["adult", "U9", "U10", "U11", "U12", "U13", "U14", "U15", "U16", "U17", "U18", "U19", "U20", "U21", "U22", "U23"]}}}, "season": {"required": ["start_year", "end_year"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_year": {"title": "Start year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "end_year": {"title": "End year", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "name": {"title": "Name", "type": "string", "readOnly": true}}}, "match_periods": {"title": "Match periods", "type": "string", "readOnly": true}, "competition_round": {"required": ["name", "round_number"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 30, "minLength": 1}, "round_number": {"title": "Round number", "type": "integer", "maximum": 32767, "minimum": -32768}, "potential_overtime": {"title": "Potential overtime", "type": "boolean"}}}, "referees": {"title": "Referees", "type": "string", "readOnly": true}, "players": {"title": "Players", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "enum": ["cancelled", "closed", "not_started", "postponed"]}, "home_team_side": {"type": "array", "items": {"title": "Home team side", "type": "string", "maxLength": 128, "minLength": 1}}, "ball": {"title": "Ball", "type": "string", "readOnly": true}, "pitch_length": {"title": "Pitch length", "type": "string", "readOnly": true}, "pitch_width": {"title": "Pitch width", "type": "string", "readOnly": true}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/data_collection/": {"get": {"operationId": "match_custom_data_collection_read", "description": "State of SkillCorner data collection for a given video (for custom videos only atm)", "parameters": [{"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "", "schema": {"type": "object", "properties": {"match_id": {"title": "Match id", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "enum": ["", "not_available", "postmatch", "to_rerun"]}, "physical_v3_last_modified": {"title": "Physical v3 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "tracking_extra_v3_last_modified": {"title": "Tracking extra v3 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "tracking_extra_v3_players_quality_index": {"title": "Tracking extra v3 players quality index", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "tracking_extra_v3_ball_quality_index": {"title": "Tracking extra v3 ball quality index", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "in_possession_off_ball_runs_last_modified": {"title": "In possession off ball runs last modified", "type": "string", "format": "date-time", "x-nullable": true}, "in_possession_passes_last_modified": {"title": "In possession passes last modified", "type": "string", "format": "date-time", "x-nullable": true}, "in_possession_dealing_with_pressure_last_modified": {"title": "In possession dealing with pressure last modified", "type": "string", "format": "date-time", "x-nullable": true}, "dynamic_events_check": {"title": "Dynamic events check", "type": "boolean", "x-nullable": true}, "dynamic_events_last_modified": {"title": "Dynamic events last modified", "type": "string", "format": "date-time", "x-nullable": true}, "dynamic_events_v2_check": {"title": "Dynamic events v2 check", "type": "boolean", "x-nullable": true}, "dynamic_events_v2_last_modified": {"title": "Dynamic events v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "video_feed_type": {"title": "Video feed type", "type": "string", "enum": ["broadcast", "clean_feed", "not_computed", "tactical"]}, "gi_shot_event_provider_used": {"title": "Gi shot event provider used", "type": "boolean"}, "gi_goal_event_provider_used": {"title": "Gi goal event provider used", "type": "boolean"}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/": {"get": {"operationId": "match_custom_dynamic_events_list", "description": "Get aggregated dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/off_ball_runs/": {"get": {"operationId": "match_custom_dynamic_events_off_ball_runs_list", "description": "Get off-ball runs dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/on_ball_engagements/": {"get": {"operationId": "match_custom_dynamic_events_on_ball_engagements_list", "description": "Get defensive engagement events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/passing_options/": {"get": {"operationId": "match_custom_dynamic_events_passing_options_list", "description": "Get passing options dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/phases_of_play/": {"get": {"operationId": "match_custom_dynamic_events_phases_of_play_list", "description": "Get phases of play events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/dynamic_events/player_possessions/": {"get": {"operationId": "match_custom_dynamic_events_player_possessions_list", "description": "Get player possession dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/in_possession/off_ball_runs/": {"get": {"operationId": "match_custom_in_possession_off_ball_runs_list", "description": "Custom endpoint for OffBallRuns with match-level permission checking.", "parameters": [{"name": "match_id", "in": "path", "description": "Match ID", "required": true, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "In Possession Off-Ball Running data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_run_in_behind_in_sample": {"type": "number"}, "count_dangerous_run_in_behind_per_match": {"type": "number"}, "run_in_behind_threat_per_match": {"type": "number"}, "count_run_in_behind_leading_to_goal_per_match": {"type": "number"}, "count_run_in_behind_targeted_per_match": {"type": "number"}, "count_run_in_behind_received_per_match": {"type": "number"}, "count_run_in_behind_leading_to_shot_per_match": {"type": "number"}, "run_in_behind_targeted_threat_per_match": {"type": "number"}, "run_in_behind_received_threat_per_match": {"type": "number"}, "count_dangerous_run_in_behind_targeted_per_match": {"type": "number"}, "count_dangerous_run_in_behind_received_per_match": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/in_possession/on_ball_pressures/": {"get": {"operationId": "match_custom_in_possession_on_ball_pressures_list", "description": "Custom endpoint for DealingWithPressure with match-level permission checking.", "parameters": [{"name": "match_id", "in": "path", "description": "Match ID", "required": true, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "In Possession On Ball Pressures data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_high_pressure_received_in_sample": {"type": "number"}, "count_high_pressure_received_per_match": {"type": "number"}, "count_forced_losses_under_high_pressure_per_match": {"type": "number"}, "count_ball_retention_under_high_pressure_per_match": {"type": "number"}, "ball_retention_ratio_under_high_pressure": {"type": "number"}, "ball_retention_added_under_high_pressure_per_match": {"type": "number"}, "pass_completion_ratio_under_high_pressure": {"type": "number"}, "count_pass_attempts_under_high_pressure_per_match": {"type": "number"}, "count_completed_passes_under_high_pressure_per_match": {"type": "number"}, "count_dangerous_pass_attemps_under_high_pressure_per_match": {"type": "number"}, "count_completed_dangerous_passes_under_high_pressure_per_match": {"type": "number"}, "dangerous_pass_completion_ratio_under_high_pressure": {"type": "number"}, "count_difficult_pass_attempts_under_high_pressure_per_match": {"type": "number"}, "count_completed_difficult_passes_under_high_pressure_per_match": {"type": "number"}, "difficult_pass_completion_ratio_under_high_pressure": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/in_possession/passes/": {"get": {"operationId": "match_custom_in_possession_passes_list", "description": "Custom endpoint for Passes with match-level permission checking.", "parameters": [{"name": "match_id", "in": "path", "description": "Match ID", "required": true, "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": "In Possession Passing data.", "schema": {"type": "array", "items": {"type": "object", "properties": {"player_id": {"type": "integer"}, "player_name": {"type": "string"}, "player_birthdate": {"type": "string", "format": "date"}, "match_id": {"type": "integer"}, "match_name": {"type": "string"}, "match_date": {"type": "string", "format": "date"}, "team_id": {"type": "integer"}, "team_name": {"type": "string"}, "competition_id": {"type": "integer"}, "competition_name": {"type": "string"}, "season_id": {"type": "integer"}, "season_name": {"type": "string"}, "competition_edition_id": {"type": "integer"}, "position": {"type": "string"}, "group": {"type": "string"}, "quality_check": {"type": "boolean"}, "count_match": {"type": "integer"}, "count_match_failed": {"type": "integer"}, "third": {"type": "string"}, "channel": {"type": "string"}, "minutes_played_per_match": {"type": "number"}, "adjusted_min_tip_per_match": {"type": "number"}, "count_opportunities_to_pass_to_run_in_behind_in_sample": {"type": "number"}, "count_opportunities_to_pass_to_run_in_behind_per_match": {"type": "number"}, "count_pass_attempts_to_run_in_behind_per_match": {"type": "number"}, "pass_opportunities_to_run_in_behind_threat_per_match": {"type": "number"}, "run_in_behind_to_which_pass_attempted_threat_per_match": {"type": "number"}, "pass_completion_ratio_to_run_in_behind": {"type": "number"}, "count_run_in_behind_by_teammate_per_match": {"type": "number"}, "run_in_behind_to_which_pass_completed_threat_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_leading_to_shot_per_match": {"type": "number"}, "count_completed_pass_to_run_in_behind_leading_to_goal_per_match": {"type": "number"}, "count_pass_opportunities_to_dangerous_run_in_behind_per_match": {"type": "number"}, "count_pass_attempts_to_dangerous_run_in_behind_per_match": {"type": "number"}, "count_completed_pass_to_dangerous_run_in_behind_per_match": {"type": "number"}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/out_of_possession/": {"get": {"operationId": "match_custom_out_of_possession_list", "description": "Custom endpoint view without 'match' query parameter (match_id is in URL path).", "parameters": [{"name": "file_format", "in": "query", "description": "The format of the file.", "type": "string", "enum": ["json", "csv"], "default": "csv"}, {"name": "playing_time__gte", "in": "query", "description": "The minimum playing time.", "type": "integer"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/physical/": {"get": {"operationId": "match_custom_physical_list", "description": "Returns physical data as CSV with human-readable column names.", "parameters": [{"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/custom/tracking/": {"get": {"operationId": "match_custom_tracking_list", "description": "Download file with tracking data for a given match.", "parameters": [{"name": "file_format", "in": "query", "description": "Format of the downloaded file.\n It can be a jsonlines, where each line is a full parsable json, or Fifa format which is composed by two files : a .xml for metadata, and a .txt for data (for details : https://www.fifa.com/technical/football-technology/standards/epts/research-development-epts-standard-data-format)", "type": "string", "enum": ["jsonl", "fifa-xml", "fifa-data"], "default": "jsonl"}, {"name": "data_version", "in": "query", "description": "Version of the data to download.\n Version 3 is the current version.", "type": "string", "enum": ["3"], "default": "3"}, {"name": "feed_type", "in": "query", "description": "Video feed type for custom provider data. If not specified, will try in priority order: tactical > clean_feed > broadcast.", "required": false, "type": "string", "enum": ["broadcast", "tactical", "clean_feed"]}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["custom"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/data_collection/": {"get": {"operationId": "match_data_collection_read", "description": "State of SkillCorner data collection for a given match", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "object", "properties": {"match_id": {"title": "Match id", "type": "string", "readOnly": true}, "status": {"title": "Status", "type": "string", "enum": ["", "not_available", "postmatch", "to_rerun"]}, "physical_v3_last_modified": {"title": "Physical v3 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "tracking_extra_v3_last_modified": {"title": "Tracking extra v3 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "tracking_extra_v3_players_quality_index": {"title": "Tracking extra v3 players quality index", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "tracking_extra_v3_ball_quality_index": {"title": "Tracking extra v3 ball quality index", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "in_possession_off_ball_runs_last_modified": {"title": "In possession off ball runs last modified", "type": "string", "format": "date-time", "x-nullable": true}, "in_possession_passes_last_modified": {"title": "In possession passes last modified", "type": "string", "format": "date-time", "x-nullable": true}, "in_possession_dealing_with_pressure_last_modified": {"title": "In possession dealing with pressure last modified", "type": "string", "format": "date-time", "x-nullable": true}, "dynamic_events_check": {"title": "Dynamic events check", "type": "boolean", "x-nullable": true}, "dynamic_events_last_modified": {"title": "Dynamic events last modified", "type": "string", "format": "date-time", "x-nullable": true}, "dynamic_events_v2_check": {"title": "Dynamic events v2 check", "type": "boolean", "x-nullable": true}, "dynamic_events_v2_last_modified": {"title": "Dynamic events v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "video_feed_type": {"title": "Video feed type", "type": "string", "enum": ["broadcast", "clean_feed", "not_computed", "tactical"]}, "gi_shot_event_provider_used": {"title": "Gi shot event provider used", "type": "boolean"}, "gi_goal_event_provider_used": {"title": "Gi goal event provider used", "type": "boolean"}, "metrics_gi_v2_check": {"title": "Metrics gi v2 check", "type": "string", "readOnly": true}, "metrics_gi_ip_off_ball_runs_v2_last_modified": {"title": "Metrics gi ip off ball runs v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "metrics_gi_ip_passes_v2_last_modified": {"title": "Metrics gi ip passes v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "metrics_gi_ip_player_possession_v2_last_modified": {"title": "Metrics gi ip player possession v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "metrics_gi_ip_passing_options_v2_last_modified": {"title": "Metrics gi ip passing options v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}, "metrics_gi_oop_on_ball_engagements_v2_last_modified": {"title": "Metrics gi oop on ball engagements v2 last modified", "type": "string", "format": "date-time", "x-nullable": true}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/": {"get": {"operationId": "match_dynamic_events_list", "description": "Get aggregated dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/off_ball_runs/": {"get": {"operationId": "match_dynamic_events_off_ball_runs_list", "description": "Get off-ball runs dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/on_ball_engagements/": {"get": {"operationId": "match_dynamic_events_on_ball_engagements_list", "description": "Get defensive engagement events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/passing_options/": {"get": {"operationId": "match_dynamic_events_passing_options_list", "description": "Get passing options dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/phases_of_play/": {"get": {"operationId": "match_dynamic_events_phases_of_play_list", "description": "Get phases of play events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/dynamic_events/player_possessions/": {"get": {"operationId": "match_dynamic_events_player_possessions_list", "description": "Get player possession dynamic events.", "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "integer"}, {"name": "file_format", "in": "query", "description": "Format of the file. \n\nAvailable values : csv, sportscode-xml, matchtracker-xml, focus-json", "type": "string", "default": "csv"}, {"name": "period_starts", "in": "query", "description": "The comma-separated video start seconds of the two match halves.", "type": "string"}, {"name": "ignore_dynamic_events_check", "in": "query", "description": "**WARNING!** Setting this parameter to `true` enables access to Dynamic Events even if the Dynamic Event quality check has not been passed for the match. By doing so, you may receive data that does not meet our usual quality standards.\n**We recommend being cautious and always checking the match's data quality status via the `data_collection` endpoint before using this data for critical analysis.**", "type": "boolean", "default": false}, {"name": "data_version", "in": "query", "required": false, "type": "integer"}], "responses": {"200": {"description": "CSV file"}, "400": {"description": "Invalid file format"}, "403": {"description": "Bad data quality"}, "500": {"description": "Internal Server Error"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/metrics/game_intelligence/in_possession/off_ball_runs/": {"get": {"operationId": "match_metrics_game_intelligence_in_possession_off_ball_runs_list", "description": "Main endpoint for requesting SkillCorner GI raw data.", "parameters": [{"name": "include_metadata", "in": "query", "description": "Whether to include metadata (e.g. names associated with IDs) in the response.", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/metrics/game_intelligence/in_possession/passes/": {"get": {"operationId": "match_metrics_game_intelligence_in_possession_passes_list", "description": "Main endpoint for requesting SkillCorner GI raw data.", "parameters": [{"name": "include_metadata", "in": "query", "description": "Whether to include metadata (e.g. names associated with IDs) in the response.", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/metrics/game_intelligence/in_possession/passing_options/": {"get": {"operationId": "match_metrics_game_intelligence_in_possession_passing_options_list", "description": "Main endpoint for requesting SkillCorner GI raw data.", "parameters": [{"name": "include_metadata", "in": "query", "description": "Whether to include metadata (e.g. names associated with IDs) in the response.", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/metrics/game_intelligence/in_possession/player_possessions/": {"get": {"operationId": "match_metrics_game_intelligence_in_possession_player_possessions_list", "description": "Main endpoint for requesting SkillCorner GI raw data.", "parameters": [{"name": "include_metadata", "in": "query", "description": "Whether to include metadata (e.g. names associated with IDs) in the response.", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/metrics/game_intelligence/out_of_possession/on_ball_engagements/": {"get": {"operationId": "match_metrics_game_intelligence_out_of_possession_on_ball_engagements_list", "description": "Main endpoint for requesting SkillCorner GI raw data.", "parameters": [{"name": "include_metadata", "in": "query", "description": "Whether to include metadata (e.g. names associated with IDs) in the response.", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/match/{match_id}/tracking/": {"get": {"operationId": "match_tracking_list", "description": "Download file with tracking data for a given match.", "parameters": [{"name": "file_format", "in": "query", "description": "Format of the downloaded file.\n It can be a jsonlines, where each line is a full parsable json, or Fifa format which is composed by two files : a .xml for metadata, and a .txt for data (for details : https://www.fifa.com/technical/football-technology/standards/epts/research-development-epts-standard-data-format)", "type": "string", "enum": ["jsonl", "fifa-xml", "fifa-data"], "default": "jsonl"}, {"name": "data_version", "in": "query", "description": "Version of the data to download.\n Version 3 is the current version.", "type": "string", "enum": ["3"], "default": "3"}], "responses": {"200": {"description": ""}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "404": {"description": "Not Found"}, "429": {"description": "Too Many Requests"}, "500": {"description": "Internal Server Error"}}, "tags": ["match"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/matches/": {"get": {"operationId": "matches_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "team", "in": "query", "description": "SkillCorner Team ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "stadium", "in": "query", "description": "SkillCorner Stadium ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition", "in": "query", "description": "SkillCorner Competition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "competition_edition", "in": "query", "description": "SkillCorner Competition Edition ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "season", "in": "query", "description": "SkillCorner Season ID(s).\nThis parameter accepts multiple values separated by commas.", "type": "array", "items": {"type": "integer"}}, {"name": "user", "in": "query", "description": "Filters on authorization level of user.", "required": false, "type": "boolean", "default": true}, {"name": "physical_v3_last_modified__gte", "in": "query", "description": "Filter matches where physical v3 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "tracking_last_modified__gte", "in": "query", "description": "Filter matches where tracking data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "extrapolated_tracking_last_modified__gte", "in": "query", "description": "Filter matches where extrapolated tracking data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "extrapolated_tracking_v3_last_modified__gte", "in": "query", "description": "Filter matches where extrapolated tracking v3 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "dynamic_events_last_modified__gte", "in": "query", "description": "Filter matches where dynamic events data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "dynamic_events_v2_last_modified__gte", "in": "query", "description": "Filter matches where dynamic events v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "in_possession_off_ball_runs_last_modified__gte", "in": "query", "description": "Filter matches where in-possession off-ball runs data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "in_possession_passes_last_modified__gte", "in": "query", "description": "Filter matches where in-possession passes data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "in_possession_dealing_with_pressure_last_modified__gte", "in": "query", "description": "Filter matches where in-possession dealing with pressure data was last modified on           or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "metrics_gi_ip_off_ball_runs_v2_last_modified__gte", "in": "query", "description": "Filter matches where metrics gi ip off ball runs v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "metrics_gi_ip_passes_v2_last_modified__gte", "in": "query", "description": "Filter matches where metrics gi ip passes v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "metrics_gi_ip_player_possession_v2_last_modified__gte", "in": "query", "description": "Filter matches where metrics gi ip player possession v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "metrics_gi_ip_passing_options_v2_last_modified__gte", "in": "query", "description": "Filter matches where metrics gi ip passing options v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "metrics_gi_oop_on_ball_engagements_v2_last_modified__gte", "in": "query", "description": "Filter matches where metrics gi oop on ball engagements v2 data was last modified on or after this date.", "required": false, "type": "string", "format": "date-time"}, {"name": "date_time__gte
[...]
